[2017-09-14 07:01] sguptatw opened #297 "A validation error in concept file should give the concept file name and line number"
**Expected behavior**
If a concept has a validation failure, the concept file name and line number should be displayed

**Actual behavior**
The specification name is getting displayed

**Steps to replicate**
* Create a default concept
* use the concept in a specification
* run the spec
* In the test runner select the specification the following details are displayed
[code]
This is ambiguous 'cause

[2017-09-14 07:10] kashishm commented on #295
This issue was moved to getgauge/gauge#808

[2017-09-14 07:10] #295 closed

[2017-09-14 17:45] smathistad commented on #284
I was going to create a new issue, but then I found this issue.  I believe I am getting the same behavior, but I am using Windows 7.

### Steps to reproduce
1. Open a spec file.
2. Along the left side of the file, click the green triangle next to the spec name header.
3. Before the popup menu (to run, debug, etc) is displayed, an IntelliJ error dialog is displayed with the error message "Unable to

[2017-09-19 10:51] BugDiver commented on #294
This issue was moved to getgauge/gauge#815

[2017-09-19 10:51] #294 closed

[2017-09-19 10:51] BugDiver commented on #294
This issue was moved to getgauge/gauge#816

[2017-09-21 10:16] mdolinin opened #298 "Find usages on step implementation doesn't work if method defined in other module"
### Expected behavior
Find usages on step implementation should show all specs where this steps is used

### Actual behavior
Find usages on step implementation work if method defined in same module as specs
Find usages on step implementation doesn't work if method defined in other module

### Steps to reproduce
1. Create gauge maven project with two modules
2. Put specs in first module
3. Put step

[2017-09-21 10:39] mdolinin commented on #298
After debugging plugin found that problem is that second module is not detected as gauge module.
[code]
Based on that temporary workaround will be:
1. Create empty `spec` folder in second module
2. Create `manifest.json` file in second module

Than `find usages` works as expected

[2017-09-21 10:50] nehashri commented on #298
@mdolinin this is done intentionally as we do not want gauge to load up for non gauge projects.

[2017-09-21 11:15] mdolinin commented on #298
Yes I agree with that.
But what about use cases when steps is common and reused between other projects and modules?
Maybe we should provide mechanism that detect modules that has steps implementation inside.
And mark them as `gauge modules`.
Or detect only `manifest.json`, because empty `spec` folder looks not good.

[2017-09-26 05:32] jfock commented on #242
Same issue when using Gauge into a module of a Gradle project:

* IntelliJ CE 2017.2.4
* Gauge plugin 0.3.6

Can we expect a fix for that and/or is there a workaround?

[2017-10-13 08:57] nehashri opened #299 "Update Gauge Commands"
As of Gauge version 0.9.0, the gauge command structure has been updated. Intellij plugin should use latest Gauge commands.

If an older version of Gauge is installed, gauge daemon will not be started. An error message should be shown indicating this.

[2017-10-16 10:10] nehashri commented on #299
Should be available in intellij plugin nightly >= 16-10-2017

[2017-10-17 12:56] sguptatw commented on #299
Test cases
- [x] Open a gauge project
- [x] autocomplete step
- [x] refactor step
- [x] step implementation
- [x] code navigation
- [x] specs folder execution

[2017-10-17 13:03] sguptatw opened #301 "Individual spec and scenario details of the run are not getting displayed in the test runner"
**Expected behavior**
The test runner should show the execution details at the spec and scenario level

**Actual behavior**
 Individual spec and scenario details of the run are not getting displayed in the test runner

**Steps to replicate**
* Click on the scenario/spec name in the test runner tab after executing a spec.

**Version**
[code]
IntelliJ - Version: 0.3.8.nightly-2017-10-16

[2017-10-23 06:31] nehashri commented on #301
@sguptatw The expected behaviour in the test runner is to show details of run only in case of a failure. On success nothing will be shown.

[2017-10-23 06:35] #299 closed

[2017-10-23 20:36] VikasSalunke commented on #157
I am getting the same error. Did u got the Solution?

[2017-10-31 11:03] #301 closed

[2017-11-02 16:32] jorgecunhamorsum opened #302 "Improvement: Restrict classes where steps can be implemented"
## Expected behavior

When the step is being implemented, the classes shown in the "Choose implementation class" are limited to the defined ones.

## Actual behavior

When the step is being implemented, the "Choose implementation class" dialog shows all classes available.

## Steps to reproduce

1. Add a unimplemented step to a specification;
2. Use the shortcut alt+enter to add a step implementat

[2017-11-08 05:40] Shailesh-Prabhu opened #303 "Intellij gauge plugin isnt working"
### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### Steps to reproduce
1.
2.
3.

### Version information

* IntelliJ version and edition(Community/Ultimate):
* OS information:
* Gauge IntelliJ plugin version:
* Does the project uses any Build tool(Gradle/Maven)?
[code]

[2017-11-08 06:49] Shailesh-Prabhu commented on #303
Project initialization unsuccessful
java.lang.RuntimeException: Project initialization unsuccessful
	at com.thoughtworks.gauge.module.GaugeModuleBuilder$1.run(GaugeModuleBuilder.java:95)
	at com.intellij.openapi.progress.impl.CoreProgressManager$TaskRunnable.run(CoreProgressManager.java:718)
	at com.intellij.openapi.progress.impl.CoreProgressManager$5.run(CoreProgressManager.java:402)
	at com.inte

[2017-11-08 08:06] nehashri commented on #303
@Shailesh-Prabhu Can you please provide gauge version information.
IntelliJ version and edition(Community/Ultimate):
OS information:
Gauge IntelliJ plugin version:
Does the project uses any Build tool(Gradle/Maven)?
Run gauge -v on your system and paste the results here

[2017-11-08 18:12] elleuca opened #304 "Incompatibilities with Intellij 2017.3 EAP (173.x)"
### Expected behavior
Gauge intellij-plugins should work with upcoming Intellij 2017.3 release (ver 173.x) :-)

### Actual behavior
Updating from Intellij Idea 2017.2.x to 2017.3 EAP gauge plugin is downgraded from 0.3.8 to 0.3.4 (same versione installing plugin from fresh). See compatible builds in https://plugins.jetbrains.com/plugin/7535-gauge

After downgrade, opening a gauge-base project "Gau

[2017-11-09 10:08] Shailesh-Prabhu commented on #303
Gauge version: 0.9.4
Commit Hash: c96bdbb

Plugins
-------
html-report (4.0.2)
java (0.6.5)
screenshot (0.0.1)

[2017-11-13 06:50] zabil commented on #303
We also need the Gauge Intellij IDEA Plugin version **number** and Intellij Version **number**

Please make sure you are on
* The latest IDEA version (as of now Version: 2017.2.5)
* Thel latest gauge plugin version (0.3.8)

[2017-11-13 10:06] #106 closed

[2017-11-13 22:09] sudhirsadhanala commented on #157
No vikas, we moved on with cucumber jvm.

On Mon, Oct 23, 2017 at 1:36 PM, VikasSalunke <notifications@github.com>
wrote:

[2017-11-16 06:20] zabil commented on #243
This will be implemented in VS code.

[2017-11-16 06:21] #243 closed

[2017-11-20 14:55] olegderid commented on #242
@BugDiver , please, confirm if there is tentative to take this bug for fix in next release?

[2017-11-23 08:12] zabil commented on #242
@olegderid, unfortunately, there's a bit of work to get this working. We'll try to fix it in the next release. But the next release is not coming soon.

[2017-11-30 11:20] koppor commented on #278
Gauge Version 0.3.4 used at a Gradle project. Happened after clicking "OK" at the question whether non-existing gradle modules should be removed.

[code]

<details>

[code]

[2017-11-30 11:40] BugDiver commented on #278
@koppor  looks like you are using an old version of gauge-plugin.
please try with the latest gauge, IntelliJ plugin, and Gradle plugin.

[2017-12-03 11:08] jtonic commented on #304
I noticed that for the GA version of IntelliJ Idea 2017.3 the gauge version 0.3.4 is shown as available for installation. Is this an issue in latest version of intellij idea or is smth in the gauge plugin?

Thank you.

[2017-12-03 11:10] jtonic commented on #304
Moreover, I tried to install the 0.3.8 from disk and Idea (2017.3) complains it is not compatible with this installation.

[2017-12-04 06:08] Apoorva-GA opened #305 "Gauge not working in IDEA CE 2017.3"
_From @AntonNagornyi on December 3, 2017 21:59_

### Expected behavior
Should work

### Actual behavior
com.intellij.openapi.module.impl.ModuleManagerComponent@519b2a9f: Gauge API not started
java.lang.RuntimeException: Gauge API not started
	at com.thoughtworks.gauge.connection.GaugeConnection.createConnection(GaugeConnection.java:76)
	at com.thoughtworks.gauge.connection.GaugeConnection.createCo

[2017-12-04 06:23] Apoorva-GA commented on #305
Fix should be available in Intellij-Plugin nightly >= 4/12/17

[2017-12-04 06:54] Apoorva-GA commented on #303
@Shailesh-Prabhu Did you get it working?

[2017-12-04 07:16] AntonNagornyi commented on #305
Thank you!!!!:)

[2017-12-04 14:55] #305 closed

[2017-12-04 16:50] imelnic555 commented on #242
@zabil , Could you at least estimate when the fix will be available?

[2017-12-05 03:29] hossomi commented on #305
Your timing is perfect. Needed this just now! Thanks a lot :)

[2017-12-05 13:40] rabiamarzhiya commented on #133
Hi I am facing the null pointer exception while executing the spec file in gauge

Gauge version:

Gauge version: 0.9.5
Commit Hash: 51cfe8d

Plugins
-------
html-report (4.0.2)
java (0.6.5)
js (2.0.0)
screenshot (0.0.1)
spectacle (0.1.2)

Gauge Plugin version: 0.3.8

Error stack trace:

Message: java.lang.NullPointerException
Stack Trace:
platform_e2e.PlatformObjects.userName(PlatformObjects.java:

[2017-12-06 09:44] rabiamarzhiya opened #306 "Null pointer exception occurs when executing the spec"
### Expected behavior
Spec should run without any exception
### Actual behavior
Spec when running shows null pointer exception

### Steps to reproduce
1. Use intellij and load a gauge project
2. Run the spec file
3. Observe the results

### Version information

* IntelliJ version and edition(Community/Ultimate): Community # IC-172.4574.11
* OS information: Linux 16.04 (ubuntu)
* Gauge IntelliJ plu

[2017-12-07 09:17] xwinie commented on #242
Same issue when using Gauge into a module of a Gradle project:

IntelliJ Ultimate 2017.2.6
Gauge plugin 0.3.8

but maven is correct work!

[2017-12-07 09:51] Apoorva-GA commented on #306
Could you please share a sample project where you are facing the above issue.

[2017-12-07 10:23] Apoorva-GA commented on #306
Looks like the null pointer is occurring in the step implementation. Please have look at your step implementations.

[2017-12-08 07:11] akshaypanambur opened #307 "Unsupported Gauge Version: This version of Gauge Intellij plugin only works with Gauge version >= 0.9.0"
Getting "Unsupported Gauge Version: This version of Gauge Intellij plugin only works with Gauge version >= 0.9.0" error when trying to create a project using gauge plugin.

Below is my Gauge version

**Gauge version: 0.9.5**
Commit Hash: 51cfe8d

Plugins
-------
html-report (4.0.2)
java (0.6.5)
screenshot (0.0.1)

Intellij Gauge Plugin version : 0.3.8
Intellij Version: 2017.2.6

[2017-12-08 08:20] Apoorva-GA commented on #307
Please check the what `Gauge binary path` is set to in intellij.
You can find it in `Preferences->Tools->Gauge`.

Make sure you set it to gauge binary >= 0.9.0.

[2017-12-08 08:48] akshaypanambur commented on #307
Thanks it worked fine! There was mis-entered value in Gauge binary path

[2017-12-08 08:48] #307 closed

[2017-12-09 03:33] hossomi opened #308 "Should be able to set a default environment used when running specific specs/scenarios"
### Expected behavior
Should be able to set a default environment in Gauge settings, which would be used when running any spec or scenario from IntelliJ.

**or**

Should be able to programatically enable an environment (unrelated to the plugin though).

Please let me know if any of these (or another solution) already exists :)

### Actual behavior
Environment can be set in run configuration. Howev

[2017-12-09 18:29] hossomi commented on #308
Realized there is such feature. The run configuration window has a "Defaults" item in the tree where I can set the default values for Gauge run configurations.

Sorry for the trouble, thanks for the plugin!

[2017-12-09 18:29] #308 closed

[2017-12-12 16:11] EricAtHaufe commented on #246
I have the same issue API  Gauge not started with:
Gauge version: 0.9.5
Commit Hash: 51cfe8d

Screen shoot from
IntelliJ IDEA 2017.1.5
Build #IC-171.4694.70, built on July 4, 2017
JRE: 1.8.0_112-release-736-b21 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Windows 10 10.0 setting:

![image](https://user-images.githubusercontent.com/13378074/33894279-e442af08-df5d-11e7-9078-93b4600788de.pn

[2017-12-13 02:56] bdpiparva opened #309 "Getting `IDE error notification` even when the current project is not using gauge plugin"
### Expected behavior
It should not show any error when project is not using gauge plugin.

### Actual behavior
It is giving me `IDE error notification` even when the project that I am working on is not using gauge plugin

### Version information
- IntelliJ IDEA 2017.3 (Ultimate Edition)
- Build #IU-173.3727.127, built on November 27, 2017
- JRE: 1.8.0_152-release-1024-b6 x86_64
- JVM: OpenJDK 64-

[2017-12-13 05:30] kashishm commented on #309
What is the Gauge IntelliJ plugin version?

[2017-12-13 07:26] bdpiparva commented on #309
@kashishm  --- v0.3.4

[2017-12-13 07:44] kashishm commented on #309
Please update the plugin to the latest version 0.3.9 and then try.

[2017-12-13 07:46] bdpiparva commented on #309
@kashishm --- Sure, I will update the plugin.

[2017-12-15 05:37] sguptatw opened #310 "Opening a newly created project gives error"
**Expected behavior**
Should not get an error on opening a newly created project

**Actual behavior**
Getting an error
[code]
* Idea version: 2017.3
* API version: IC-173.3727.127
* Plugin version: 0.3.9.nightly-2017-12-04
* Gauge version: 0.9.6.nightly-2017-12-13

**Steps to replicate**
* Keep a project open in IntelliJ
* create a project on the command line
[code]
* Open in the newly created pro

[2017-12-15 09:33] zabil commented on #309
@bdpiparva is it working after an update?

[2017-12-15 09:40] bdpiparva commented on #309
Yes, I am not seeing that error after updating plugin. You can close the issue.

[2017-12-15 09:41] bdpiparva commented on #309
@zabil --- I am closing the issue. I will reopen the issue if I see that error again.

[2017-12-15 09:41] #309 closed

[2017-12-18 09:21] diana-zaharia commented on #177
@kashishm @mahendrakariya is there any chance the fix mentioned by @ocary is included in any future releases? The fix has been working for us, we have a large no. of specs and we need a bigger timeout or a retry mechanism before erroring on create connection. We are currently patching every new release of the gauge intellij plugin and as you can imagine it is becoming quite tedious. Thanks!

[2017-12-18 10:41] nehashri commented on #177
@diana-zaharia have you tried with the latest intellij plugin, without your changes? There are a few changes that has been done on Intellij-Plugin that doesn't require such a long time for Gauge to connect. Please check with the latest version of Intellij-Plugin and let us know if you are still facing this issue.

[2017-12-18 13:48] diana-zaharia commented on #177
@nehashri Unfortunately yes, it's still erroring out using latest Gauge Intellij Plugin 0.3.9.

[2017-12-19 11:36] nehashri commented on #177
@diana-zaharia We currently do not have plans to change the Intellij Plugin. But we would be happy to accept a Pull request which fixes the above issue. If you would like to contribute, please raise a pull request with the changes that work for you.

[2017-12-20 05:46] Apoorva-GA commented on #303
Closing the issue. If you are facing the same problem please feel free to raise an issue.

[2017-12-20 05:46] #303 closed

[2017-12-22 06:27] sguptatw commented on #306
Closing this issue as the exception is in the step implementation and not gauge execution.

[2017-12-22 06:27] #306 closed

[2017-12-22 06:39] sguptatw commented on #304
@jtonic:
Kindly check with the following
Gauge version - gauge 0.9.6
Gauge Intellij Plugin 0.3.9.

[2017-12-22 10:27] sguptatw commented on #250
@vibheeshk - Closing this issue. If you face this issue again, please feel free to re-open

[2017-12-22 10:27] #250 closed

[2017-12-22 10:48] #235 closed

[2018-01-02 05:06] #304 closed

[2018-01-06 00:11] paolocarrasco opened #311 "Document how to configure the plugin in the IDE"
After installing IntelliJ is not clear which values to put to start a module or project ([other people suffered this too](https://github.com/getgauge/Intellij-Plugin/issues/307)).

### Expected behavior
The documentation in the page should also say which values to put in the settings fields of the plugin in IntelliJ (Tools>Gauge), or the meaning of them at least.

### Actual behavior
The documenta

[2018-01-11 09:48] Borisakov commented on #242
Is there any estimated time for this issue?

[2018-01-22 08:40] GreenDude opened #312 "Error after Intellij update to 2017.3.2"
### Expected behavior
Spec file finds the step implementation
### Actual behavior
"C:\Program Files\Gauge\bin\gauge.exe" run --machine-readable --hide-suggestion --simple-console C:/Users/gmosin/Desktop/JGauge/at-fasttrack-realex/specs/JGaugeFrameworkExample.spec
Exception in thread "main" java.lang.NoSuchMethodError: com.google.common.collect.Sets$SetView.iterator()Lcom/google/common/collect/Unmo

[2018-01-22 09:56] riju91 commented on #312
Can you please attach the project for which you are witnessing this behavior?

[2018-01-23 11:31] GreenDude commented on #312
[jmeter_gauge_framework.zip](https://github.com/getgauge/Intellij-Plugin/files/1655649/jmeter_gauge_framework.zip)
For some reason the defect disappeared the next morning.
P.S. Sadly I am not able to reproduce the problem again.
P.P.S. The project uses a company proprietory library that I have no right to upload.

[2018-01-23 12:25] riju91 commented on #312
@GreenDude I am closing this issue since we are not able to reproduce it. Please feel free to reopen it again in case it appears again. Thanks

[2018-01-23 12:25] #312 closed

[2018-02-07 16:01] ahewstone opened #313 "principal class not found com.thoughtworks.gauge.GaugeRuntime"
### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### Steps to reproduce
1.
2.
3.

### Version information

* IntelliJ version and edition(Community/Ultimate):
* OS information:
* Gauge IntelliJ plugin version:
* Does the project uses any Build tool(Gradle/Maven)?
[code]

[2018-02-26 05:49] nehashri opened #315 "With both machine-readable and verbose parameters step level reporting is not output"
_From @ocary on February 22, 2018 21:47_

With both machine-readable and verbose parameters step level reporting is not output

As the IntelliJ plugin adds `machine-readable` to any spec, it is not possible to get step level output to the test runner in IntelliJ even if _verbose_ is added as a parameter.   IntelliJ 2017.3.5 and IntelliJ-Gauge plugin v3.9

This was not an issue in Gauge 0.9.3, Gaug

[2018-02-26 05:49] nehashri commented on #315
_From @Apoorva-GA on February 23, 2018 5:22_

`--verbose ` flag is not applicable when you run with `--machine-readable` flag.
However if you are logging anything and if there is a failure it will be bubbled up to the scenario level.

If you want more details at step level please run the specs from command line using `--verbose` flag.

[2018-02-26 05:49] nehashri commented on #315
_From @ocary on February 23, 2018 16:0_

The problem were having is that after moving from Gauge 0.9.3 to 0.9.7, the `--verbose` tag does not work as expected in IntelliJ.   The IntelliJ plugin is adding `--machine-readable` and there is no way around.   When specifying `--machine-readable` and `--verbose`, I'd expect the step level reporting to still be output, but to be shown in JSON format like

[2018-02-26 06:15] nehashri commented on #315
@ocary I have made a few changes so that you can use the old Intellij Test runner. This change should be available with nightly version of Intellij > 26-02-2018. (Refer [here](https://docs.gauge.org/using.html#installing-nightly) to configure Intellij to use nightly version of gauge plugin).
To use the old version of Intellij's Gauge test runner, you will have to go to
`Settings > Tools > Gauge >

[2018-02-26 13:04] Borisakov opened #316 "Gauge API not started"
### Expected behavior
Gauge plugin for IntelliJ should start and work.

### Actual behavior
I am getting an exception on the plugin startup.

### Steps to reproduce
1. Install Gauge plugin
2. Restart IntelliJ

### Event log
[log.txt](https://github.com/getgauge/Intellij-Plugin/files/1758678/log.txt)

### Version information

IntelliJ IDEA 2018.1 EAP (Community Edition)
Build #IC-181.3870.7, built

[2018-02-27 05:35] nehashri commented on #316
@Borisakov Looks like you have an older version of Gauge Intellij Plugin. Gauge plugin version 0.3.4 does not work well with the latest Intellij version. Please do update you plugin and try again.

PS: You can also consider updating Gauge.

[2018-02-27 06:54] nehashri opened #317 "Unable to preview specs in nested directories."
Steps to reproduce.
- Create a default java project.
- Create a spec file under specs/nestedDir/example.spec
- Open file and click on browser preview button.
- Error saying file does not exist, occurs.

[2018-02-27 07:35] nehashri commented on #317
Fix should be available in nightly >= 27-2-2018

[2018-02-27 08:04] Borisakov commented on #316
@nehashri Hi, I am trying to install the plugin manually (0.3.9) using "Install plugin from disk.." and I am getting
![image](https://user-images.githubusercontent.com/34122721/36717133-8d1b5a20-1ba5-11e8-8537-cb5541f5c617.png)

[2018-02-27 08:47] nehashri commented on #316
@Borisakov We don't support Intellij EAP versions yet. The current plugin is compatible only with Intellij versions 2017.* . The plugin works well with latest stable version of Intellij.

[2018-02-27 09:39] Borisakov commented on #316
@nehashri It works. Thanks.

[2018-02-27 10:45] #316 closed

[2018-02-28 07:43] #317 closed

[2018-02-28 08:28] #315 closed

[2018-03-01 21:53] ocary commented on #315
Using 0.3.9.nightly-2018-3-01 and `Settings > Tools > Gauge > Uncheck 'Use Intellij test runner UI for execution'.` the old test runner runs specs and outputs --verbose comments.   Thank you.

However, I still think that that --verbose should output step level information regardless of whether --machine-readable is passed in.  If machine-readable is passed in, I'd expect the step output to be in m

[2018-03-02 04:49] nehashri commented on #315
@ocary I do agree that machine-readable should have verbose output too. However, the gauge team is currently working on other features and we are not looking at fixing this issue soon. You can watch [this issue](https://github.com/getgauge/gauge/issues/956) for more updates on the same.

[2018-03-05 11:08] sguptatw opened #318 "Gauge IntelliJ should work with Java 9"
**Expected behavior**
User should be able to run tests from the IDE for Java 9.0 at Project language level 9

**Actual behavior**
Getting the following error
[code]
**Steps to replicate**
* Use Java 9 jdk and Project Language Level 9
<img width="377" alt="java9" src="https://user-images.githubusercontent.com/6310197/36971881-39ad4d06-2093-11e8-9167-641e1725fcdb.png">
* run the specs

**Version**
[

[2018-03-05 11:11] sguptatw commented on #313
@ahewstone : Please fill the above template with details of the issue you are facing.

[2018-03-06 05:34] sguptatw commented on #310
Note: This happens for a newly created non-Gauge project as well.

[2018-03-06 06:01] sguptatw commented on #311
@paolocarrasco :
After installing [Gauge, Gauge-java](https://gauge.org/get-started.html) and Gauge-IntelliJ
You can create a project - https://docs.gauge.org/using.html#creating-a-java-project
Run the tests by right click run on the example.spec (any .spec files)

Let us know if you still face an issue.

[2018-03-07 04:58] paolocarrasco commented on #311
I had to put some values in the project configuration.

Do this in a clean machine with a clean IntelliJ and follow the documentation.
Try to follow the steps you state and an error will be shown. There are missing steps.

That should be in the documentation.

[2018-03-12 09:57] tangshunfa opened #319 "java.lang.RuntimeException: Gauge API not started"
### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### Steps to reproduce
1.
2.
3.

### Version information

* IntelliJ version and edition(Community/Ultimate):
* OS information:
* Gauge IntelliJ plugin version:
* Does the project uses any Build tool(Gradle/Maven)?
[code]

[2018-03-12 10:00] sriv commented on #319
Please fill in some detail on when this occurs, for us to investigate. Thanks.

[2018-03-14 18:46] Thunderforge commented on #94
I am trying to figure out a strategy for how to implement this. Here is what I've figured out.

 - The highlighting ultimately comes from [`SpecSyntaxHighlighter`](https://github.com/getgauge/Intellij-Plugin/blob/master/src/com/thoughtworks/gauge/highlight/SpecSyntaxHighlighter.java), which assigns styles to predetermined tokens.
 - There is a token for `Step`, but not for `Concept`.
 - The tokens

[2018-03-14 19:59] Thunderforge commented on #296
@sguptatw How can I reproduce this issue? I'm interested in attempting to fix it and submit a PR.

[2018-03-15 07:08] sguptatw commented on #296
@Thunderforge : Thanks for your interest. Kindly find the steps to replicate the issue.

**Steps to replicate**
* Create a `gauge-java` project
* add an unimplemented step to the example.spec
* Run the specification
* On the `Test Explorer` click on the skipped scenario.

[code]
This gives only the filename and not the line number

[2018-03-15 16:14] Thunderforge opened #322 "Intellij Runner should show the steps in at least the currently running scenario"
Current Behavior
-----
When running a Gauge Spec via the Intellij Runner, no information is provided about the steps that are currently being run.

![image](https://user-images.githubusercontent.com/6200170/37475537-f27dd472-2840-11e8-895d-01fd93e337cb.png)

Requested Behavior
-----
At least for the currently running scenario, the steps should be visible.

![image](https://user-images.githubuserco

[2018-03-16 08:30] zabil commented on #322
Gauge cannot run a specific step.
The runner view summarizes all "runnable" nodes for e.g. the spec and the scenarios. We are note sure if we can get this working or if it's supported by IntelliJ.

I am closing this due to technical limitations. If you do find out a way to implement or do this please feel free to re-open.

[2018-03-16 08:30] #322 closed

[2018-03-19 15:32] Thunderforge opened #325 "Parameter count mismatch error message is never displayed"
### Expected behavior
When there is a parameter count mismatch, the following error defined in `ParamAnnotator` ought to display.

[code]

### Actual behavior
The default message for an undefined step, as declared in `StepAnnotator` appears

[code]

### Steps to reproduce
1. In a Gauge .spec file, find a step that properly links to a real step (e.g. `Say "hello" to world`)
2. Add an additional par

[2018-03-20 05:51] sguptatw commented on #325
When the step annotation is changed from `Say "hello" to world` to `Say "hello" to world "foo"` it has become a step with 2 parameters. So in the step `Say "hello" to world` does not have a definition any more. Hence getting `Undefined Step` in the specification file.

Furthermore, if you use step `Say hello to "gauge" some "sfd"` in the spec it shows as implemented and the user is able to navigat

[2018-03-20 05:51] #325 closed

[2018-03-21 05:18] sguptatw commented on #257
Onetime I faced `Connection Exception` when trying to started debugging.
In my case gauge-java was not installed.
Creating a new gauge project using `gauge-init java` will install the language runner if it is not available. Therefore next time I started debugging it worked.

[2018-03-22 08:28] BugDiver commented on #94
@Thunderforge IntelliJ-plugin defines `specification` and `concept` as two different languages.
See  https://github.com/getgauge/Intellij-Plugin/blob/62da8766327de3e7a014457b5624ced27262bb2f/resources/META-INF/plugin.xml#L207 and https://github.com/getgauge/Intellij-Plugin/blob/62da8766327de3e7a014457b5624ced27262bb2f/resources/META-INF/plugin.xml#L209

The grammar for these languages are defined

[2018-03-25 04:52] sguptatw commented on #319
Closing this as there are no details about the issue. Please feel free to re-open this after adding the details.

[2018-03-25 04:52] #319 closed

[2018-03-26 21:13] Thunderforge commented on #325
@sguptatw Could you please provide an example of a situation in which the error message `Parameter count mismatch(found [%d] expected [%d]) with step annotation : \"%s\`  would appear? That was my concern: I see that message in the code, but the most likely situation in which I thought that would be called doesn't call it.

[2018-03-27 03:27] sguptatw commented on #325
@Thunderforge
There are 2 ways you can see this message
- In the implementation file
- In the output on running the specification with the step having the issue.

I think you have seen the error on impl file. Run the specifications and see the output console
Here is an example
* Create a `gauge-java` project
Goto the definition of step
`* Vowels in English language are "aeiou".`
Change the step im

[2018-03-27 21:12] Thunderforge commented on #325
@sguptatw I see, so it's an error that displays as a result of the Java code, not the spec code. That's the information I was missing.

[2018-03-31 00:35] sguptatw opened #326 "IDE features must be available for modules"
**Expected behavior**
Gauge features must be available for modules

**Actual behavior**
All IDE features are not available for the modules

**Steps to replicate**
* Create a `gauge-java` project
* Add modules to the project

**Version**
```Version: 0.3.10.nightly-2018-03-15```

[2018-03-31 11:43] mihaisoloi opened #327 "Gauge Plugin 0.3.4 not working with IntelliJ IDEA 2018.1"
### Steps to reproduce
1. Use IntelliJ IDEA 2018.1
2. Create a new Gauge project
3. Check error:  `Gauge API not started.` (I can paste the stack trace if necessary)

### Version information

* IntelliJ version and edition(Community/Ultimate): 2018.1 Community
* OS information: OSX
* Gauge IntelliJ plugin version: 0.3.4
* Does the project uses any Build tool(Gradle/Maven)? No
[code]

[2018-03-31 11:44] mihaisoloi commented on #327
Stack trace in case it's needed:
[code]

[2018-03-31 11:52] mihaisoloi commented on #327
Also the stack trace related to Gauge API not starting:

[code]

[2018-04-02 08:16] Apoorva-GA commented on #327
Should be available in gauge Intellij-plugin nightly>=02/04/18

[2018-04-03 02:51] #327 closed

[2018-04-03 06:03] Apoorva-GA commented on #327
@mihaisoloi We have released [Intellij-plugin](https://github.com/getgauge/Intellij-Plugin/releases/tag/v0.3.11). Please update to the latest version to get the fix.

[2018-04-03 17:11] amanjpro commented on #268
I just got the same error again, eventhough I am on the latest IntellijIDEA CE edition:

[code]

[2018-04-04 05:06] Apoorva-GA commented on #268
What version of gauge Intellij-plugin are you using?
What version of gauge and plugins are you using? Run `gauge -v` to get the info.

[2018-04-05 12:01] Apoorva-GA commented on #268
Do you mean gauge-intellij plugin was automatically installed when you update IntellijIDEA? and you have not installed the gauge-intellij plugin?

On what action are you getting the above exception? It would be helpful if you could give some steps for us to replicate the issue.

[2018-04-05 14:11] amanjpro commented on #268
Yup, I don't remember installing it manually

When Intellij-IDEA got restarted after the update was successful, I found that little red bubble in the right bottom corner, clicking on it showed the exception.

![screen shot 2018-04-05 at 10 10 55 am](https://user-images.githubusercontent.com/3101099/38371142-b0e0b3d4-38b9-11e8-929e-a7004cf1955c.png)

[2018-04-10 17:37] Doraliangbo opened #328 "com.intellij.openapi.module.impl.ModuleManagerComponent@548c528c: Gauge API not started"
com.intellij.openapi.module.impl.ModuleManagerComponent@548c528c: Gauge API not started

### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### Steps to reproduce
1. install the latest intellij 2018.1 and the latest gauge plugin 0.3.11
2. launch the IntelliJ
3.observe the error code

### Version information

* IntelliJ version and edition(Community/

[2018-04-11 06:49] nehashri commented on #328
@Doraliangbo Can you provide gauge version you are using. Run `gauge -v` from command line and paste the contents here.

[2018-04-11 17:04] Doraliangbo commented on #328
The version is 0.9.4

[2018-04-18 22:55] v-mwalk commented on #203
Not sure really is fixed is it?

Vanilla everything and when I try to create a new Gauge project in IntelliJ I get the "Error adding module to project: Gauge API not started" error.

[2018-04-18 22:57] v-mwalk commented on #246
Same issue as OP

Gauge 0.9.7

[2018-04-18 23:08] v-mwalk commented on #328
Same as OP.  Didnt want to create a new issue.  I cannot create a Gauge project in IntiliJ.  Creating a new prokecy just shows the **Error adding module to project: Gauge API not started** error.

[2018-04-18 23:12] v-mwalk commented on #246
Guys, this is a basic permissions issue.  Set the Gauge install folder to "Everyone/Full Control" and all is well....  The Gauge installer either needs to allow creation of folders/files in the Gauge program files folder (nasty!) or to have data going to a proper folder (IE. Programdata or users appdata).

[2018-04-19 06:43] zabil commented on #246
@v-mwalk thanks for figuring this out!

Some configuration files do get created but inside %APPDATA% folder, and should work without setting permissions. Will dig deeper into this.

[2018-04-19 08:10] sguptatw commented on #246
Logged in as a non-admin user. Windows. Opening an existing Gauge-java project gives the following error
[code]

[2018-04-19 08:11] sguptatw commented on #246
This error goes away when gauge binary is copied on to a folder which does not need Admin permissions for access.

[2018-04-19 08:14] sguptatw commented on #246
Getting the following error `Gauge java plugin is not installed` on opening a Gauge Project

**Reason**

**Temporary fix**
Installing `gauge-java` explicitly solves the above issue.

**Version**
[code]
-------------------------------------------------------------------------------------------------------------------------
**The Stacktrace**
[code]

[2018-04-19 12:25] EricAtHaufe commented on #246
Thanks,  only change to system was **Set the Gauge install folder to "Everyone/Full Control"** ,  issue solved, thanks

[2018-04-24 02:36] sriv opened #329 "Error on opening project"
### Expected behavior
should not throw error

### Actual behavior
error is displayed in the bubble. See below:

<img width="851" alt="screen shot 2018-04-24 at 8 01 37 am" src="https://user-images.githubusercontent.com/389148/39162983-0b88a09a-4796-11e8-964e-92a3b484645d.png">

Stacktrace:

[code]

### Steps to reproduce

1. Install IDEA CE 2018.1
2. Install gauge plugin from repository (not night

[2018-04-24 10:34] sriv commented on #329
https://github.com/getgauge/Intellij-Plugin/issues/246 seems related

[2018-04-26 12:54] sguptatw opened #330 "CPU usage is high when tests are run in IntelliJ"
**Expected behavior**
CPU usage must be in an acceptable limit

**Actual behavior**
Java process CPU usage is close to 100 when tests are run from the IDE

**Steps to replicate**
* Open IntelliJ IDE, run specs
* Notice the CPU usage

**Version**
[code]

[2018-04-27 09:02] Apoorva-GA commented on #330
Some of observations:
- CPU usage(~90%) is heigh even with the released version of gauge(0.9.7) and gauge-java(0.6.6)
- CPU usage(~90%) is heigh even when tests are run from command line as well.

[2018-04-27 18:02] yjagdale opened #331 "crashing when open existing gauge project"
### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### Steps to reproduce
1.
2.
3.

### Version information

* IntelliJ version and edition(Community/Ultimate):
* OS information:
* Gauge IntelliJ plugin version:
* Does the project uses any Build tool(Gradle/Maven)?
[code]

[2018-04-27 18:02] #331 closed

[2018-04-27 18:03] yjagdale commented on #331
Need to investigate more ,

[2018-04-30 13:03] jackperalta opened #332 "[Proposal] Autogenerated methods with parameter shall have String as parameter type"
### Expected behavior
When generating a method from a step in the specification file, the auto generated method in IntelliJ should have `String` as type instead of `Object`

### Actual behavior
The generated method has `Object` as type

### Steps to reproduce
1. create simple `gauge init java_maven_selenium` project
2. create a step with a parameter like `Goto "http://google.com"`
3. The auto gene

[2018-05-02 10:05] BugDiver commented on #329
From the stacktrace it looks like creating a project in an existing `gauge` project causes this issue. The behavior is fine but the error is not visible to users. https://github.com/getgauge/Intellij-Plugin/commit/4b3ba239ef7bb8543f1c326694983f73bcfc262a shows a better notification to the user about the error.

The fix should be available in nightly >= 02-05-2018

[2018-05-03 03:08] #329 closed

[2018-05-04 08:58] saritapol13 commented on #257
I'm facing the same issue. First run once you restart machine the debug works and later on it stops working.  I am also getting the exact same issue.

"Listening for transport dt_socket at address: 52591
ERROR: transport error 203: timed out waiting for connection
JDWP exit error JVMTI_ERROR_NONE(0): could not connect, timeout or fatal error [transport.c:326]" . I

I am not able to figure out the

[2018-05-14 13:04] auxur-git opened #333 "Demon initialisation"
### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### Steps to reproduce
1.
2.
3.

### Version information

* IntelliJ version and edition(Community/Ultimate):
* OS information:
* Gauge IntelliJ plugin version:
* Does the project uses any Build tool(Gradle/Maven)?
[code]

[2018-05-14 18:40] auxur-git commented on #333
C:\Users\ASUS>gauge -v
Gauge version: 0.9.9.nightly-2018-05-11
Commit Hash: fcb9e9d

Plugins
-------
csharp (0.10.1)
html-report (4.0.4)
java (0.6.7)
ruby (0.4.2)
screenshot (0.0.1)
spectacle (0.1.2)
xml-report (0.2.0)

[2018-05-17 06:19] nehashri opened #334 "Lines breaks are ignored in test runner"
Lines breaks are getting ignored for some cases when tests are run via the test runner.
This is a sample output
[code]

Steps to replicate.
- Install flash plugin in the project
- Run the specs in IntelliJ.

[2018-05-22 09:56] Apoorva-GA commented on #129
Not replicable with latest(0.3.11) gauge intellij plugin.
and
Gauge version: 0.9.9
Commit Hash: b4161b4

Plugins
-------
html-report (4.0.5.nightly-2018-05-03)
java (0.6.8)
spectacle (0.1.2)

[2018-05-22 10:08] #129 closed

[2018-05-22 10:20] sguptatw commented on #328
Can you please try with [latest Gauge version](https://github.com/getgauge/gauge/releases), [Gauge-IntelliJ](https://github.com/getgauge/Intellij-Plugin/releases) and [Gauge-Java](https://github.com/getgauge/gauge-java/releases) and let us know if the issue is resolved.

[2018-05-27 22:08] v-mwalk commented on #328
Tried with (x86-64) Gauge 0.9.9, Gauge-IntelliJ 0.3.11 and Gauge-Java 0.6.7.

All good - can create Gauge project and Can add specs to non-Gauge projects.

Thanks

[2018-05-28 05:53] #328 closed

[2018-05-29 07:15] ajoecker commented on #302
that would be great if either the step implementation classes should follow a certain pattern or (even better) one could define such pattern, so that the plugin can filter the relevant classes for step generation

[2018-05-31 06:35] Apoorva-GA commented on #333
When exactly is the above problem occurring?
It would help if you could give us some steps to replicate the issue.

[2018-05-31 07:06] eyalgo commented on #278
Hi,
I am using the latest Gradle plugin.
The JDK is 1.8.0_152 (the bundled from IntelliJ). (made sure in _Switch Boot JDK_ option)
IntelliJ: 2018.1.4 Build #UI-181.5087.20
(see screenshot)
![screen shot 2018-05-31 at 09 00 45](https://user-images.githubusercontent.com/1395180/40767066-b26efa02-64b1-11e8-9875-fe5e9c90b7ca.png)

Still getting:
`Argument for @NotNull parameter 'quickFixes' of com/int

[2018-05-31 08:15] nehashri commented on #278
@eyalgo What is the issue you are facing? Are you using `Gauge` plugin? This is a Gauge forum, not Gradle's.

[2018-05-31 08:33] eyalgo commented on #278
just noticed. sorry about that :)
I get the same error message, but it's probably because of the gradle plugin.
I don't use the Gauge plugin.

Thanks anyway (and sorry)

[2018-06-11 06:43] sguptatw opened #335 "Should be able to execute specs without restarting the IDE"
**Actual behavior**
For newly Gauge-Maven projects, running the specifications from the IDE gives false Validation Errors.

**Steps to replicate**
* Create a new project from IDE - gauge-archetype-java

* Run the specifications from the IDE

**Version**
[code]

[2018-06-18 11:21] #334 closed, assigned to nobody

[2018-06-21 05:20] lchrennew opened #336 "Exception occures when open another gauge-maven project"
### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### Steps to reproduce
1. Open an gauge maven project in IDEA
2. Open another gauge maven project in the same window or a new window
3. See event log
### IDEA Event Log:
2018/6/21
13:22	Exception occurred in Gauge plugin
		Please log an issue here with the following details and reload the project.

[2018-06-22 09:26] matveym opened #337 "java.lang.RuntimeException: Gauge API not started"
### Actual behavior
com.intellij.openapi.module.impl.ModuleManagerComponent@7105f4bd: Gauge API not started
java.lang.RuntimeException: Gauge API not started
	at com.thoughtworks.gauge.connection.GaugeConnection.createConnection(GaugeConnection.java:76)
	at com.thoughtworks.gauge.connection.GaugeConnection.createConnection(GaugeConnection.java:87)
	at com.thoughtworks.gauge.connection.GaugeConnect

[2018-06-22 09:35] Apoorva-GA commented on #337
On what action are you getting this error?
Could you give us some steps to replicate the same?

[2018-06-22 10:46] matveym commented on #337
Just opening a project

[2018-06-22 10:52] nehashri commented on #337
@matveym Can you please let us know which OS you are working on.
Are there any firewall settings set?

Are you able to continue working on the project after this error occurs or are the gauge IDE features completely unavailable after this error?

[2018-06-22 10:57] matveym commented on #337
Windows 10. Default firewall settings - will try turning it off. Gauge IDE features completely unavailable.

[2018-06-22 10:58] matveym commented on #337
Sorry, checked the firewall - it's turned off.

[2018-06-22 11:02] matveym commented on #337
I was wrong - some steps are highlighted as errors and Gauge cannot navigate to implementation, but some are fine.

[2018-06-22 17:19] lchrennew commented on #336
the problem is still

[2018-06-25 11:37] matveym commented on #337
Weird - today after starting IDEA and opening the project I got the same error, but everything works except running specs - Gauge complaints:
[ValidationError] <spec path>:5 Request timed out for Message with ID => 2 and Type => StepValidateRequest => '<step name>'
...
Skipped: <spec name>
Filename: <spec path>
Message: Step implementation not found

[2018-06-25 11:49] nehashri commented on #337
@matveym we are still trying to find out when this could occur. Currently, it seems to work fine with our machines.
Is it possible to share any sample project where this is replicable?
Also, are you using any build tool like maven or gradle?
Are you working with Admin user privileges on windows? Is there any user restrictions configured with ports and applications?

For the latest error on request

[2018-06-25 12:46] matveym commented on #337
@nehashri The project uses maven, I'm working on Windows as Admin user.

Where can I find the logs files for gauge?

[2018-06-26 09:48] matveym commented on #337
@nehashri I have a three module maven project: parent + two sub-modules where the specs are located. There is logs/api.log file in only one of the sub-modules, no files in logs/* for parent project or other sub-module.
api.log contains:
12:32:01.080 Watching directory: <module path>\specs
12:32:01.084 Found 2 files
+ two such entries for specs subfolders
12:32:01.661 Adding concepts from <module p

[2018-06-27 08:26] OGinda opened #338 "issue template"
### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### Steps to reproduce
1.
2.
3.

### Version information

* IntelliJ version and edition(Community/Ultimate):
* OS information:
* Gauge IntelliJ plugin version:
* Does the project uses any Build tool(Gradle/Maven)?
[code]

[2018-06-27 08:34] nehashri commented on #338
Can you give more details here?

[2018-06-29 14:25] rgoldberg opened #339 "Support IntelliJ 2018.2"
Support IntelliJ 2018.2, which is currently in beta, and will be released not too long from now.

Presumably, `customUntilBuild` must be set to `182.*`, and the Gauge plugin must conform to any IntelliJ API changes.

https://github.com/getgauge/Intellij-Plugin/blob/bc0c60d210e3e614d9c9b664e6a51999dbaf54a5/gradle.properties#L3

[2018-07-02 06:34] sguptatw opened #340 "Definitions within package_to_scan should be considered"
**Expected behavior**
If a step is not recognized by gauge, it should be marked as unimplemented in the IDE.

**Actual behavior**
The package_to_scan definition is not honored by the IDE.

**Steps to replicate**

[2018-07-03 04:58] NivedhaSenthil commented on #339
Thanks for the heads up, will be great if you can create a PR meanwhile.

[2018-07-03 05:00] NivedhaSenthil commented on #336
can you give more details about what problem exactly happens ?

[2018-07-03 10:50] matveym commented on #337
Interesting - the issue seems to appear only on first opening on the project. Reopening helps - all the error highlights disappear :)

[2018-07-03 12:14] rgoldberg commented on #339
I don’t know what changes need to be implemented, so it’s probably safer if it’s done by someone who’s familiar with the Guage plugin code.

[2018-07-04 02:49] NivedhaSenthil commented on #337
Good that it worked for you :) closing the issue, please feel free to reopen if you encounter the issue again.

[2018-07-12 07:06] Vishnu1067 commented on #285
1. When the last tag is end up with comma then the new line can be highlighted. So that We will know the next line will be considered as tags instead of description.

2. When the last tag end up with comma and the next line start with scenario tags (## tags) then should show error icon in the specs or simply ignore the comma.

[2018-07-17 04:42] gagneet opened #341 "Gauge plugin causes IntelliJ to start with errors"
### Expected behavior
Gauge plugin should work

### Actual behavior
Error is shown:

[code]
					* Idea version: 2018.1.6
					* API version: IU-181.5540.7
					* Plugin version: 0.3.11
					* Gauge version: 1.0.0

### Steps to reproduce
1.
2.
3.

### Version information

* IntelliJ version and edition(Community/Ultimate): Ultimate
* OS information: Windows 10 1803
* Gauge IntelliJ plugin version:

[2018-07-17 18:14] gagneet commented on #341
I am encountering this when I open an IntelliJ project created with Gauge template.

Steps:

1. Create new project, using Gauge
2. Make changes to the project and add source files
3. Files are stored on OneDrive (project folder created and stored within OneDrive)
4. Close the project
5. Reopen the project
6. The above error is reported.

Also, the Gauge installation was done to c:\windows\system32

[2018-07-18 11:16] sriv commented on #341
Hi,

I installed gauge using what you mentioned:

[code]

Created a new project using the gauge intellij plugin template and reloaded the project. Works for me.

Could you please help with below:

- try using a location that is in the local system (i.e. not OneDrive's folder)
- if possible could you share a sample project where you see this error? I'd like to verify if the issue is project related

[2018-07-23 19:06] pavanism commented on #327
Still I am facing an issue in creating an new project in Intellij 2018 version .. saying incompatible version

[2018-07-24 06:13] shubhamsc commented on #327
Some more information on your IntelliJ and Gauge setup would be helpful to reproduce this issue.
- Which OS are you working on?
- What is your Gauge version. (Please run `gauge -v` command and paste its contents here)
- Which IntelliJ and Gauge plugin version you are using. Refer [this](https://github.com/getgauge/Intellij-Plugin#installation) to get the Gauge plugin version.

[2018-07-25 06:14] shubhamsc opened #342 "Run tests in IntelliJ without target folder"
### Expected behavior
Should execute tests in IntelliJ even target folder exists or not.

### Actual behavior
When I run tests in IntelliJ, First time it shows "Step implementation is not found" but the second time it runs successfully.

### Steps to reproduce
1. create a java project
2. run tests in IntelliJ
3. it shows `Step implementation is not found`
4. run tests again
5. it successfully runs

[2018-07-26 09:18] DaSwedishMan commented on #339
Any update on this topic? IntelliJ 2018.2 was just released.

[2018-07-26 16:10] rgoldberg commented on #339
IntelliJ keeps telling me to downgrade to 0.3.4 of the plugin (presumably because 0.3.4 doesn't have an upper bound on the supported IntelliJ version).  I imagine that 0.3.4 is even less likely than the current version (0.3.11) to work with 2018.2.  If that's so, there's no reason for people to install an older, less compatible version of this plugin than a newer one that probably has fewer incons

[2018-07-27 05:18] nehashri commented on #339
Needs to be reviewed by QA

[2018-07-27 06:08] sguptatw commented on #339
Getting the following error on opening the project https://github.com/getgauge-examples/ioc-spring.git
[code]

[2018-07-27 17:52] rotemfogel opened #344 "Intellij cannot load Gauge plugin"
### Expected behavior
Intellij should work as expected

### Actual behavior
Gauge plugin threw an exception:
java.lang.IllegalStateException: @NotNull method com/intellij/openapi/module/impl/ModuleImpl.getOptionManager must not return null
	at com.intellij.openapi.module.impl.ModuleImpl.$$$reportNull$$$0(ModuleImpl.java)
	at com.intellij.openapi.module.impl.ModuleImpl.getOptionManager(ModuleImpl.j

[2018-07-30 04:10] nehashri commented on #344
@rotemfogel We have not released the latest version for IntelliJ 2018.2, the Gauge plugin version 0.3.4 is quite old and does not work well with the latest IntelliJ version. We will be releasing the plugin soon.

[2018-07-30 05:51] sriv commented on #46
Closing as stale. Please comment/reopen if this is still valid.

[2018-07-30 05:51] #46 closed

[2018-07-30 05:51] sriv commented on #47
Closing as stale. Please comment/reopen if this is still valid.

[2018-07-30 05:51] #47 closed

[2018-07-30 06:10] sriv commented on #90
Closing as stale. Please comment/reopen if this is still valid.

[2018-07-30 06:10] #90 closed

[2018-07-30 06:11] sriv commented on #87
Closing as stale. Please comment/reopen if this is still valid.

[2018-07-30 06:11] #87 closed

[2018-07-30 06:11] sriv commented on #66
Closing as stale. Please comment/reopen if this is still valid.

[2018-07-30 06:11] #66 closed

[2018-07-30 06:12] sriv commented on #104
Closing as stale. Please comment/reopen if this is still valid.

[2018-07-30 06:12] #104 closed

[2018-07-30 06:12] sriv commented on #114
Closing as stale. Please comment/reopen if this is still valid.

[2018-07-30 06:13] sriv commented on #130
Closing as stale. Please comment/reopen if this is still valid.

[2018-07-30 06:13] #130 closed

[2018-07-30 06:13] sriv commented on #123
Closing as stale. Please comment/reopen if this is still valid.

[2018-07-30 06:13] #123 closed

[2018-07-30 06:13] sriv commented on #92
Closing as stale. Please comment/reopen if this is still valid.

[2018-07-30 06:13] #92 closed

[2018-07-30 06:13] sriv commented on #107
Closing as stale. Please comment/reopen if this is still valid.

[2018-07-30 06:13] #107 closed

[2018-07-30 06:14] sriv commented on #135
Closing as stale. Please comment/reopen if this is still valid.

[2018-07-30 06:14] #135 closed

[2018-07-30 06:14] sriv commented on #132
Closing as stale. Please comment/reopen if this is still valid.

[2018-07-30 06:14] #132 closed

[2018-07-30 06:34] sriv commented on #153
Closing as stale. Please comment/reopen if this is still valid.

[2018-07-30 06:34] #153 closed

[2018-07-30 08:34] nehashri commented on #344
New version of IntelliJ 0.3.12 is now released. It should work with IntelliJ 2018.2.
Please update your plugin and check

[2018-07-30 08:34] #344 closed

[2018-07-30 08:34] nehashri commented on #339
New version of IntelliJ 0.3.12 is now released. It should work with IntelliJ 2018.2.
Please update your plugin and check

[2018-07-30 08:34] #339 closed

[2018-07-31 05:43] #338 closed

[2018-07-31 06:25] #246 closed

[2018-07-31 06:39] zabil commented on #202
Closing this as stale. Please feel free to open if it's still an issue

[2018-07-31 06:39] #202 closed

[2018-08-01 05:29] BugDiver commented on #336
@lchrennew I'm closing this issue for now. Feel free to reopen with details if the issue still exists.

[2018-08-01 05:29] #336 closed

[2018-08-02 06:05] sguptatw commented on #247
Working as expected in
[code]

[2018-08-02 06:05] #247 closed

[2018-08-02 07:01] sguptatw commented on #266
Getting a warning message to choose another project location.

[2018-08-02 07:01] #266 closed

[2018-08-02 07:46] sguptatw commented on #187
Refactoring this does not give any error.

But refactoring `* Implements steps "with" <file:resources/someother.txt> file parameters "" to Implements "with" <file:resources/someother.txt> file parameters

   |t2|
   |--|
   |d |`

with implementation
[code]

to `Implement steps <with> <file1> file parameters <table1> to Implements <with> <file2> file parameters <table>` removes the last table para

[2018-08-02 09:42] sguptatw commented on #128
Once the name is generated, the user can change it to what is relevant

[2018-08-02 09:42] #128 closed

[2018-08-02 10:08] sguptatw commented on #185
Tracking individual issues separately

[2018-08-02 10:08] #185 closed

[2018-08-02 10:12] #218 closed

[2018-08-02 10:35] sguptatw opened #345 "Check enum parameters before runtime"
_From @andrew041 on December 15, 2017 16:13_

### Expected behavior
When using an enum as a parameter in a step, the values of the enum should be displayed as options and if a value is entered that is not in the enum, the step should show an error.

### Actual behavior
When using an enum as a parameter in a step, the value entered into the step is not checked until runtime.

### Steps to reproduce

[2018-08-02 10:35] sguptatw commented on #345
_From @nehashri on December 18, 2017 4:56_

@andrew041 It looks like a good feature to have.
Gauge core does not hold any implementation details. Gauge does not invoke the language runner until runtime. Hence, you see these errors coming up only during runtime. Also, not all language runners support Enum parameters. Hence, this feature may not be valid for all runners.

May I know which editor you

[2018-08-02 10:35] sguptatw commented on #345
_From @andrew041 on December 18, 2017 16:33_

@nehashri I am using gauge with java in the Intellij IDE.

[2018-08-06 06:36] sguptatw opened #346 "Telemetry message should be displayed when run on IDE (with machine readable option)"
**Expected behavior**
When run from the command line telemetry message is displayed. Then it should be shown when executed from the IDE.

**Actual behavior**
On the command line the output is
[code]
In the IDE, the output is
[code]

**Steps to replicate**
* Create a gauge-java project
`gauge init java`
* run the specs on command line with machine readable option
`gauge run specs --machine-readable

[2018-08-06 10:09] sguptatw opened #347 "Getting exception while writing to a field"
**Expected behavior**
Should be able to write into a field without a failure

**Actual behavior**
Getting an exception `(node:213348) PromiseRejectionHandledWarning: Promise rejection was handled asynchronously (rejection id: 7)`

**Steps to replicate**
* Set up to run the app `https://openmrs.org/download/`
* Run taiko with the following script
[code]

**Version**
[code]

[2018-08-06 10:09] sguptatw commented on #347
This issue was moved to getgauge/taiko#94

[2018-08-06 10:09] #347 closed

[2018-08-06 16:11] Thunderforge commented on #114
@sriv This is still an issue. The auto-complete should be adding a space after the `*` because otherwise it is invalid markdown, as shown below:

**Markdown:**

[code]

**GitHub Render:**

*Without space after asterisk
- With space after asterisk

**Gauge HTML Preview Render:**
![image](https://cloud.githubusercontent.com/assets/6200170/11564827/d6bacb2c-99a0-11e5-8249-e61a8355c4a3.png)

[2018-08-08 06:29] nehashri commented on #342
fix should be available in nightly >= 08/08/2018.

[2018-08-10 07:00] sguptatw opened #348 "Should be able to run maven project specifications from IDE"
**Expected behavior**

**Actual behavior**
Getting the following error
[code]
**Steps to replicate**
* Checkout [gauge-tests](https://github.com/getgauge/gauge-tests) into a new folder http://github.com/getgauge/gauge-tests
* Open the project in the IDE
* Run a scenario from the IDE

Blocks #342

[2018-08-10 08:32] #342 closed

[2018-08-14 08:48] BugDiver opened #349 "Execution produces exception"
### Expected behavior
Execution should work without exception.

### Actual behavior
When a spec is executed using the run config it produces and exception

Stacktrace:
[code]

### Version information

* IntelliJ version and edition(Community/Ultimate): 2018.2 CE
* OS information: OSx
* Gauge IntelliJ plugin version:  0.3.13.nightly-2018-08-08
* Does the project uses any Build tool(Gradle/Maven)? N

[2018-08-14 08:51] BugDiver commented on #349
The actual issue is in `gauge`. Fixing  https://github.com/getgauge/gauge/issues/1152 should fix this.

[2018-08-16 03:44] BugDiver commented on #346
With f1443d4 a balloon notification is shown after execution.

[2018-08-20 03:00] #349 closed

[2018-08-20 03:05] sguptatw commented on #346
Clarification needed: The telemetry data information is displayed only on execution. This need not be the first action after the IDE is opened. Shouldn't this be displayed for any Gauge related actions?

[2018-08-20 03:09] sguptatw commented on #346
**Question**
-  The telemetry data information is displayed only on execution. This need not be the first action after the IDE is opened. Shouldn't this be displayed for any Gauge related actions/project opening?
- Should there be an option to opt in or out in the bubble itself?

[2018-08-20 10:50] sguptatw commented on #346
Working as expected
[code]

[2018-08-20 10:50] #346 closed

[2018-08-20 16:31] smathistad commented on #257
This situation occurs intermittently on my machine.  Here is the work around that has successfully worked for me. Although it is tedious to continually have to do this.

Once you see the line "**Listening for transport dt_socket at address: #####**" in the debug output.
Click the **Run** menu option and then select the "**Attach to Local Process**" menu item.
![image](https://user-images.githubuse

[2018-08-31 10:36] AnastasiiaSelianko opened #350 "1"
### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### Steps to reproduce
1.
2.
3.

### Version information

* IntelliJ version and edition(Community/Ultimate):
* OS information:
* Gauge IntelliJ plugin version:
* Does the project uses any Build tool(Gradle/Maven)?
[code]

[2018-09-07 11:03] nehashri commented on #350
@AnastasiiaSelianko Give us details on the issue you are facing.

[2018-09-07 15:11] smathistad opened #351 "Support for multi-line steps"
### Expected behavior
The Gauge project added support for multi-line steps getgauge/gauge#265 and eventually will also have the functionality configurable getgauge/gauge#1173.
I would expect the Intellij-Plugin to handle this new functionality so that steps are not underlined in red when they are valid

### Actual behavior
Currently, the Intellij-Plugin does not recognize multi-line steps.
All ste

[2018-09-10 11:26] #350 closed

[2018-09-12 05:34] sguptatw commented on #348
Still getting the same error when executing from the IDE.

<img width="1076" alt="screen shot 2018-09-12 at 10 57 18 am" src="https://user-images.githubusercontent.com/6310197/45404009-daec8880-b67a-11e8-8c03-17607a121e80.png">

Steps to replicate - same as the original issue

**Version**
[code]

[2018-09-27 06:30] Apoorva-GA opened #352 "Should consider the program arguments given in configuration."
### Expected behavior
Should consider the program arguments given in configuration.

### Actual behavior
Doesn't consider the program arguments given in configuration.

### Steps to reproduce
1. Init a `gauge-java` project.
2. Open in intellij.
3. Go to edit configuration
4. In Program argumenets give `-v`
4. Run the spec

### Version information

* IntelliJ version and edition(Community/Ultimate)

[2018-09-29 01:06] jonathangiber opened #353 "Getting output messages in wrong formal"
### Actual behavior
Output messages are looking wrong:
{"type":"out","message":"2018-09-29 03:54:35 INFO  Reflections:229 - Reflections took 3911 ms to scan 147 urls, producing 11955 keys and 63050 values \r"}
{"type":"out","message":""}
{"type": "out", "message": "Executing in 3 parallel streams."}
{"type": "out", "message": "Incorrect value for enable_multithreading in property file. Cannot conv

[2018-10-03 17:35] haroon-sheikh opened #354 "An exception thrown when there's a substituted env var in env properties"
Plugin throws an exception when there's a substituted env var in env properties.

## Expected behaviour
Gauge plugin tried to load the env var before running the tests. It should only throw the error on running the spec.

### Actual behaviour
[code]
### Steps to reproduce
1.
2.
3.

### Version information

* Idea version: 2018.2.4
* API version: IC-182.4505.22
* Plugin version: 0.3.12
* Gauge vers

[2018-10-05 06:11] nehashri commented on #354
@haroon-sheikh Gauge expects all environment variables to be available while running the project. It needs to read the variables in the properties files for while starting the IntelliJ plugin too. This is the expected behaviour.

[2018-10-05 06:13] nehashri commented on #353
@jonathangiber This should be fixed in the latest version of IntelliJ nightly. Can you try to install the nightly and let us know if it fixes the problem. The nightly version can be installed by following the steps as mentioned here (https://github.com/getgauge/Intellij-Plugin#installing-nightly).

[2018-10-05 10:11] haroon-sheikh commented on #354
Can we some how catch the exception? The problem is IntelliJ needs restarting once you add the env variables.

[2018-10-05 10:17] nehashri commented on #354
I don't think that is possible. Its Gauge core that errors out, this is run as a child process of IntelliJ. So catching exceptions is not easy here.

[2018-10-09 08:41] BugDiver commented on #348
@sguptatw  I'm not able to replicate.
Could you please verify?

[2018-10-09 08:56] #348 closed

[2018-10-09 08:58] sguptatw commented on #348
Working as expected
[code]
Gauge IntelliJ - Version: 0.3.13.nightly-2018-09-14

[2018-10-09 09:01] sguptatw commented on #318
Able to run tests from the IDE for Java 10.0 at Project language level 10.

**Version**
[code]
IDE - Version: 0.3.13.nightly-2018-09-14

[2018-10-09 09:01] #318 closed

[2018-10-13 06:14] nitink007 opened #355 "plugin crashed while switching project to other non gauge project"
### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### Steps to reproduce
1.
2.
3.

### Version information

* IntelliJ version and edition(Community/Ultimate):
* OS information:
* Gauge IntelliJ plugin version:
* Does the project uses any Build tool(Gradle/Maven)?
[code]

[2018-10-16 05:33] shubhamsc commented on #355
@nitink007 Can you tell us more about the issue
* How can replicate the issue?
* Which gauge plugin are you using?
* what is your gauge and plugin version?

[2018-10-22 09:46] BugDiver commented on #355
@nitink007  I'm closing this issue. Please feel free to reopen it with required details, if you are still having this issue.

[2018-10-22 09:46] #355 closed

[2018-11-13 06:38] sguptatw opened #356 "Should recognize Gauge installed using npm"
**Expected behavior**
Should recognize Gauge installed using npm

**Actual behavior**
The IDE does not recognize Gauge installed using npm

**Steps to replicate**

* Ensure all gauge versions are uninstalled
* npm install @getgauge/cli -g
* Open a gauge-java project in IntelliJ

**Version**
[code]

[2018-11-13 09:02] sriv commented on #356
as a workaround, one can set the gauge binary path in the settings, under `Tools->Gauge`

[2018-11-15 10:38] NivedhaSenthil opened #357 "Add telemetry to measure plugin usage"
Currently only refactoring and formatting is captured. Should track `goto definition`,`code completion`, `execution`, `step references`, `concept and spec creation`.
Continuation on  https://github.com/getgauge/gauge-vscode/issues/293  to track active IDE usage

[2018-11-21 08:24] nehashri opened #358 "Release Tasks 0.3.13"
These are the release activities to be performed when releasing Gauge.
## Pre release
- [x] Check all commits that has been added with this release and make sure the relevant issues are tested/closed.
- [x] Update plugin.xml to include change notes for this release.
- [x] Check if all relevant tests are passing.
- [x] Take a call on release.

## Release
- [x] Trigger the Intellij release stages.
-

[2018-11-21 11:27] #358 closed, assigned to nobody

[2018-11-22 13:22] j-morsum opened #359 "IntelliJ 2018.3 not supported"
The most recent versions of the plugin are not compatible with IntelliJ 2018.3. The most recent version of the plugin supported is "v0.3.5.nightly-2017-07-24".

In addition the "v0.3.5.nightly-2017-07-24" version crashes at start with the error "com.intellij.openapi.module.impl.ModuleManagerComponent@10a3451a
java.lang.RuntimeException: Gauge API not started"

### Version information

* IntelliJ I

[2018-11-22 16:04] thjenny commented on #359
As a workaround (at your own risk!) until there is an official plugin release:
I just patched META-INF/plugin.xml (replace the until-build version old "182.*" with new "183.*") within the jar file Intellij-0.3.13.jar within the latest plugin zip and installed the updated plugin zip from local disc.

So far, it seems to work fine (spec file formatting/editing, navigation, test run execution/debug).

[2018-11-22 16:19] zabil commented on #359
@thjenny @j-morsum
Can you try the new [release](https://plugins.jetbrains.com/plugin/7535-gauge/update/52264)?!

Refer https://github.com/getgauge/Intellij-Plugin/issues/358

[2018-11-22 16:30] j-morsum commented on #359
Thank you for the idea. I've done it and so far so good, no problems at all.

[2018-11-23 11:06] sathyasub commented on #344
Trying to create new gauge project in Intellij IDEA.
Working on MAC OS Sierra
Intellij 2018.3
gauge version: 1.0.3
java plugin: 0.6.9

while trying its throws error "Error adding module to this project. Gauge API not started"

Also tried to add gauge binary path and home path...
Please help me out to solve this issue.

Stacktrace:
java.lang.IllegalStateException: @NotNull method com/intellij/opena

[2018-11-23 11:14] Apoorva-GA commented on #344
@sathyasub The work is in progress for the intellij 2018.3 support.
Please fallow the [issue](https://github.com/getgauge/Intellij-Plugin/issues/359) for updates.

[2018-11-27 17:32] Apoorva-GA opened #360 "Release Tasks 0.3.14"
These are the release activities to be performed when releasing Gauge.
## Pre release
- [x] Check all commits that has been added with this release and make sure the relevant issues are tested/closed.
- [x] Update plugin.xml to include change notes for this release.
- [x] Check if all relevant tests are passing.
- [x] Take a call on release.

## Release
- [x] Trigger the Intellij release stages.
-

[2018-11-28 10:58] #360 closed

[2018-11-30 04:48] ngamage opened #361 "getgauge/Intellij-Plugin"
### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### Steps to reproduce
1.
2.
3.

### Version information

* IntelliJ version and edition(Community/Ultimate):
* OS information:
* Gauge IntelliJ plugin version:
* Does the project uses any Build tool(Gradle/Maven)?
[code]

[2018-11-30 05:43] BugDiver commented on #361
@ngamage  I'm closing the issue since it does not have any information. Please feel free to open an issue with details if you are facing any.

[2018-11-30 05:43] #361 closed

[2018-12-05 21:38] pvskarps opened #362 "External dependency issue when not using IntelliJ TestRunner"
I'm seeing what appears to be classpath issues with Gauge when I try to run a spec in IntelliJ when the IntellIJ Gauge plugin is set to NOT use the IntelliJ test runner.  If we run through the test runner then everything is fine.

We are experiencing this with our Gradle gauge project and I've been able to reproduce it on the getgauge-examples/java-gradle-selenium project (https://github.com/getga

[2018-12-06 05:01] pvskarps commented on #362
By the way this issue doesn't exist in 0.3.12 of the plugin.

[2018-12-06 05:05] Apoorva-GA commented on #362
Thanks for the update.
Note : the latest gauge intellij-plugin is [0.3.14](https://github.com/getgauge/Intellij-Plugin/releases/tag/v0.3.14). Please consider updating to the latest.

Closing this for now. Let us know if you face this issue again.

[2018-12-06 05:05] #362 closed

[2018-12-06 14:02] pvskarps opened #363 "External dependency issue when not using IntelliJ TestRunner"
My previous issue was closed saying to use the latest version of the IntelliJ plugin.  Sorry if my description was not clear but I am using the latest IntelliJ Gauge plugin version (0.3.14).  In fact this issue appears to have been introduced in version 0.3.13 and newer as the issue does not exist in 0.3.12.

I'm seeing what appears to be classpath issues with Gauge when I try to run a spec in Int

[2018-12-06 21:55] kyriosdata opened #364 "Just starting Intellij"
### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### Steps to reproduce
1.
2.
3.

### Version information

* IntelliJ version and edition(Community/Ultimate):
* OS information:
* Gauge IntelliJ plugin version:
* Does the project uses any Build tool(Gradle/Maven)?
[code]

[2018-12-07 05:30] Apoorva-GA commented on #364
Could you give us more info?
Please fill the details of the above template.

[2018-12-11 17:02] pvskarps commented on #363
Thanks for the quick fix.  I have verified the issues is fixed in the nightly build.

[2018-12-11 17:02] #363 closed

[2018-12-12 10:16] #364 closed

[2018-12-12 10:16] Apoorva-GA commented on #364
Closing this issue. Please feel free to reopen if you find the details.

[2018-12-17 13:25] delmaamoun opened #366 "any plans to support python projects in intellij or pycharm?"
I'm using pycharm as the main IDE for python tests, and it would be great to either have a plugin for pycharm or have the intellij plugin support pycharm, that would be awesome!

[2018-12-17 20:22] #366 closed, assigned to nobody

[2018-12-18 12:59] zabil commented on #366
Ah yes. I see feedback and bug reports!

IntelliJ plugins are hard to develop and cumbersome run, test and debug :(

There will be a plugin for Intellij when it supports the [Language server protocol](https://github.com/Microsoft/language-server-protocol).

[2019-01-14 10:30] sanjindemir commented on #337
Looks like the issue reappeared.

[2019-01-17 02:44] lchrennew opened #367 "Feature request: support javascript step implements"
Hi, there!

I am working on a Taiko ATDD project with gauge, I am used to writing specs and Java step implements in IDEA, but it seem this IDE plugin does not support Javascript step implements (it tips steps have not been implemented).
And an alternative solution is switching to VSCode, but I prefer using IDEA...
I want javascript implements to be supported in IDEA plugin.

[2019-01-21 05:46] sriv commented on #367
some context [here](https://github.com/getgauge/Intellij-Plugin/issues/119)

//cc @zabil

[2019-01-21 05:58] zabil commented on #367
We love Intellij IDEA too.
However writing and maintaining plugins for IntelliJ idea is not easy :(

IntelliJ does not support [Language Server Protocol](https://discuss.kotlinlang.org/t/any-plan-for-supporting-language-server-protocol/2471).

A Javascript plugin will be available once IntelliJ adds LSP support.

[2019-01-21 11:29] akalaiselvan opened #368 "com.google.protobuf.InvalidProtocolBufferException: Message missing required fields: stepValidateRequest.numberOfParameters"
1. It was running perfect in my environment
2. I just did some changes in my project folder structure
3.After that facing this problem ... i am just blind please help me ..
### Version information

* IntelliJ version and edition(Community/Ultimate):
* OS information:
* Gauge IntelliJ plugin version:
* Does the project uses any Build tool(Gradle/Maven)?
[code]

[2019-01-22 02:14] sriv commented on #368
duplicate of getgauge/gauge-java#227

[2019-01-22 02:14] #368 closed

[2019-01-27 09:25] yuqengo opened #371 "gradle project. spec file error."
### Expected behavior
cursor on the spec file `* Vowels in English language are "aeiou".`
'Menu->Navigage->Go to'.
go to src/test/StepImplementation.java `@Step` Annotation

### Actual behavior
Cannot find declaration to go to
![2019-01-27 18 17 02](https://user-images.githubusercontent.com/17488521/51799062-d1e20980-225f-11e9-836d-6b069276b3cf.png)
![2019-01-27 18 12 00](https://user-images.githu

[2019-01-28 12:00] ashoktesting1982 opened #369 "Exception occurred in Gauge Plugin"
This is the issue tracker for Gauge IntelliJ plugin.

Exception occurred in Gauge Plugin, Please advise!!

* Idea version: 2018.2.2
* API version: IC-182.4129.33
* Plugin version: 0.3.14
**Gauge Version:**
Gauge version: 1.0.4
Commit Hash: 3a9a647
**Plugins**
html-report (4.0.5)
java (0.6.2)
spectacle (0.1.3)
xml-report (0.2.0)

[2019-01-28 12:06] sriv commented on #369
Can you please share some details on what exception occured and any steps to replicate it?

Thanks

[2019-01-28 12:08] sriv commented on #313
closing as stale.

[2019-01-28 12:08] #313 closed

[2019-01-28 12:13] ashoktesting1982 commented on #369
While Building the project I got this message in Intellij.
28/01/2019
11:51	Exception occurred in Gauge plugin
			Please log an issue here with the following details and reload the project.

[code]
			* Idea version: 2018.2.2
			* API version: IC-182.4129.33
			* Plugin version: 0.3.14
			* Gauge version: 1.0.4

[2019-01-28 12:15] sriv commented on #369
Some followup questions:

- Are you using any build tools (gradle/maven)? If so, what version of `gauge-java` do they have?
- Are there any details available in the `logs`?
- Is there any project that we can try replicating this issue on?

Thanks

[2019-01-28 12:21] ashoktesting1982 commented on #369
I am using maven project,
<dependency>
        <groupId>com.thoughtworks.gauge</groupId>
        <artifactId>gauge-java</artifactId>
        <version>0.6.9</version>
        <scope>test</scope>
    </dependency>

NOTE: I am going to update my java plugins and try the same.

I am able to build and run the specs, its just I got the above issue while building first time. I am using the sample project

[2019-01-28 16:53] ashoktesting1982 commented on #369
Update to Intellij 2018.3.3 and Updated gauge latest versions (gauge-1.0.3, java-0.6.9) and now I am able to build and run project. Closing this Issue.

[2019-01-28 16:53] #369 closed

[2019-02-03 18:05] haroon-sheikh opened #370 "Plugin does not output json strings"
The plugin does not print out json string.

### Expected behavior
When printing json string - it should  print out as a normal string.

### Actual behavior
Nothing is printed out.

### Steps to reproduce
1. Just add `System.out.println("{\"message\":\"Hello, World!\"}")` in a step implementation
2. Run the test and you should not see the print line.

### Version information
[code]
[code]

[2019-02-04 09:52] NivedhaSenthil commented on #370
Thanks for reporting could reproduce it, seems like a bug in plugin.

[2019-02-10 12:55] yuqengo commented on #371
I used v0.3.15.nightly-2019-02-07.
This problem is fixed.
thank you !

[2019-02-11 04:46] Debashis9012 commented on #371
This issue has been validated. Its working as excepted.

Version:

[code]

[2019-02-11 04:46] #371 closed

[2019-02-11 07:09] Apoorva-GA opened #372 "HTML preview gives file doesn't exists error."
### Expected behavior
Should open the spec file in browser.
### Actual behavior
Shows that the ../$specfile.html doesn't exists.

### Steps to reproduce
1. Open spec file in intellij
2. right click-> open in browser

### Version information

* IntelliJ version and edition(Community/Ultimate): 2018.1
* OS information:mac 10.14.2
* Gauge IntelliJ plugin version: 0.3.15.nightly-2019-02-07
* Does the

[2019-02-15 02:52] lchrennew commented on #367
There’s a plugin for IntelliJ IDEA that allows it to act as a client for a Language Server Protocol server: https://github.com/gtache/intellij-lsp 147

[2019-02-15 05:21] zabil commented on #367
Last time I checked. It didn't work.
You can try installing it configuring the following command in the settings.

[code]

[2019-02-18 08:47] Debashis9012 commented on #372
Not able to reproduce it with the below version:
``` * Gauge IntelliJ plugin version: v0.3.15.nightly-2019-02-07```
[code]

[2019-02-18 08:47] #372 closed

[2019-02-19 11:13] zabil commented on #357
This need not be tracked.

[2019-02-19 11:13] #357 closed

[2019-02-19 11:40] #254 closed

[2019-02-19 11:41] #245 closed

[2019-02-19 11:41] #258 closed

[2019-02-27 04:39] #367 closed

[2019-03-06 18:00] ginkel opened #373 "Plugin does not detect specs in non-standard location"
We are using Gauge in a Maven-based Java project and put the specs in a somewhat unusual location by Gauge's standards, but in line with Maven conventions, namely `src/test/specs`. Gauge is configured accordingly by setting `gauge_specs_dir = src/test/specs` in `env/defaut/default.properties`.

Unfortunately, this causes the Gauge IntelliJ plugin to not correctly detect the specs, i.e., the little

[2019-03-07 10:34] nehashri commented on #373
Since the specs directory can be configured per environment now, we can't rely on the environment files to determine the specs directory location.

To fix this, we need to add a configuration in IntelliJ so that the user is able to change the specs directory as per their needs. This needs to take a comma separated list of spec directories.

[2019-03-07 10:35] ginkel opened #374 "Plugin build not reproducible"
Attempting to build the Gauge IntelliJ plugin from source (both from `master` as well as from the `v0.3.14` tag) currently fails as the plugin declares the `com.thoughtworks.gauge:gauge-java` without specifying a version number:

[code]

This causes the build of the plugin to fail as `gauge-java` apparently changed in an incompatible fashion (due to the constant `com.thoughtworks.gauge.GaugeConsta

[2019-03-07 10:58] nehashri commented on #374
@ginkel Sorry about this. We will fix this soon. This should ideally have been backward compatible, but it has been removed accidentally.

[2019-03-07 11:38] nehashri commented on #374
I have pushed in changes to fix the build. Please check

[2019-03-07 11:38] #374 closed

[2019-03-07 15:17] ginkel commented on #374
Thanks, @nehashri!

While this technically solves the broken build, the build is still not reproducible as updates to `gauge-java` will actually cause a different plugin being built despite the plugin version number staying the same. In my experience this is very unusual in the Java world although Maven and Gradle provide an option to reference version ranges.

What do you think?

[2019-03-08 06:28] nehashri commented on #374
@ginkel The fixes I have pushed are temporary. And yes, for most projects you may not want to have a floating version specified. But this is not unusual in the Gradle world. Gradle itself recommends this approach in some cases (https://docs.gradle.org/current/userguide/declaring_dependencies.html#declaring_a_dependency_without_version).
The reason we have a floating version number is because the I

[2019-03-08 15:52] ginkel commented on #373
Makes sense.

What do you think about initializing the defaults of the plugin's configuration for a project based upon the setting in the Gauge default environment? I think the setting read from that env would be correct in many cases and reduce the manual configuration effort for many developers. Still, it would be possible to overwrite that inferred default from the plugin settings.

[2019-03-11 06:35] nehashri commented on #373
@ginkel Relying on the default environment may not work. There is no mandate in Gauge for the presence of `default` environment. Gauge can be run properly even if an environment by the name `default` is not found. If we rely on getting the settings from the `default` environment, we are indirectly mandating users to have an environment with this name. So I suggest not to do this.
Instead have a co

[2019-03-14 09:34] john-at-digirati commented on #249
Getting the same issue with the latest example and gauge release.
Results from test run:

Testing started at 09:30 ...
"C:/Program Files/Gauge/gauge.exe" run --machine-readable --hide-suggestion --simple-console C:/dev/git/Gauge/HmpoTesting/mainSpecs/main.spec
Error: Could not find or load main class com.thoughtworks.gauge.GaugeRuntime

process C:\ProgramData\Oracle\Java\javapath\java.exe with pid

[2019-03-14 11:20] NivedhaSenthil commented on #249
There was an issue which is fixed https://github.com/getgauge/Intellij-Plugin/issues/371 , please try with intelliji nightly while we make a release.

[2019-03-15 15:29] trung commented on #373
With the proposed fix, it seems that user needs to declare specs directories in 2 places: environment files and the plugin configuration. Not sure this is ideal.

Why not reading spec directories from all the environment files and default to `specs` if non is found?

[2019-03-21 19:57] manuviswam commented on #242
Still not fixed

[2019-03-28 09:43] elleuca opened #376 "Support IntelliJ 2019.1"
After updating intellij to latest stable (2019.1), gauge plugin downgrades to old 0.3.4 release

<img width="800" alt="Screenshot 2019-03-28 at 10 38 44" src="https://user-images.githubusercontent.com/1573759/55147136-21509300-5146-11e9-8ac4-0dff19374201.png">

### Actual behavior
Updated gauge plugin :-)

### Version information

* IntelliJ version and edition(Community/Ultimate): 2019.1 both com

[2019-03-29 09:03] shubhamsc commented on #376
@elleuca I added new IntelliJ idea version in IntelliJ-plugin.
We will release soon a new version of the plugin with the fix.
For now, you can install with [nightly](https://github.com/getgauge/Intellij-Plugin/#installing-nightly) from [zip file](https://bintray.com/gauge/Gauge-Java-Intellij/Nightly)

[2019-04-01 10:31] Debashis9012 commented on #376
As a work around we can install the nightly version of intellij plugin ``` v0.3.15.nightly-2019-04-01 ``` in intellij ```2019.1 version``` which works fine.

[2019-04-01 10:31] #376 closed

[2019-04-02 07:01] miroslav750 opened #377 "plugin not working after 1. april update"
### Expected behavior
* keyword highlight - OK
* should connect my implemented steps (was working before update)
* should run tests

### Actual behavior
* all my steps are now undefined
* I can't run tests

### Steps to reproduce
**1.** update plugin to 0.3.4 (from idea ultimate marketplace)
**2.** update idea to 2019.1 IntelliJ IDEA 2019.1 (Ultimate Edition)
Build #IU-191.6183.87, built on March

[2019-04-02 08:10] nehashri commented on #377
Duplicate of https://github.com/getgauge/Intellij-Plugin/issues/376.

[2019-04-02 08:28] miroslav750 commented on #377
Is there any guide how to set up settings in nightly ? It connected steps with implementation now but still can't run tests. get error as I mentions at the the bottom of my last message.
Gauge is installed with brew on mac, so it is in default directory.
In plugin  settings I have gauge binary path empty and in GAUGE_HOME I have: ```/usr/local/bin/gauge```

[2019-04-04 09:46] SureshRajpurohit85 commented on #377
i am getting similar issue  post update of Plugin
Stack trace :
`java.lang.RuntimeException: Gauge API not started
	at com.thoughtworks.gauge.connection.GaugeConnection.createConnection(GaugeConnection.java:76)
	at com.thoughtworks.gauge.connection.GaugeConnection.createConnection(GaugeConnection.java:87)
	at com.thoughtworks.gauge.connection.GaugeConnection.createConnection(GaugeConnection.java:8

[2019-04-05 09:55] Apoorva-GA commented on #377
@miroslav750 I tried to replicate the issue, but no luck. I am on
- Intellij 2019.1
- Gauge IntelliJ plugin version: 0.3.15-nightly-2019-04-01
- OS information: macOS 10.14.3

[code]
And I did a `gauge init java` and opened the project in intellij 2019.1 and I am able to execute the specs.

Could you please recheck if Gauge IntelliJ plugin 0.3.15-nightly-2019-04-01 is installed?

[2019-04-05 10:39] nehashri commented on #242
related issue : #373

[2019-04-10 09:34] nehashri opened #379 "Release tasks 0.3.15"
These are the release activities to be performed when releasing Gauge.
## Pre release
- [x] Check all commits that has been added with this release and make sure the relevant issues are tested/closed.
- [x] Update plugin.xml to include change notes for this release.
- [x] Check if all relevant tests are passing.
- [x] Take a call on release.

## Release
- [x] Trigger the Intellij release stages.
-

[2019-04-11 07:33] sdvdxl commented on #337
idea 2019.1 reappeared

[2019-04-11 12:30] Debashis9012 commented on #242
This issue has been verified.
Observations:
1. Goto navigation/Declarations/Implementations are working fine.
2. Unimplemented steps are highlighting properly.
Based on the observations this issue has been fixed. Tested with the below nightly version
```v0.3.15.nightly-2019-04-11```

[2019-04-11 12:30] #242 closed

[2019-04-11 14:51] arjunrajeev opened #380 "Syntax highlight: error displayed for scenarios with table"
When we have a table driven scenario,

# Sample Spec

## Sample Scenario1

    |Region|
    |--------|
    |London  |

* Drive the test with <Region>

### Expected behavior
The syntax error should not be shown by the IDE

### Actual behavior
Syntax error is highlighted, and the steps appear undefined

### Steps to reproduce
Just write a new spec with the scenario above

### Version information
* I

[2019-04-12 05:46] BugDiver commented on #380
@arjunrajeev In your sample spec I see that you are using a scenario table, which is an experimental feature and it's not stable yet.
The execution will work fine but this feature is not compatible with IntelliJ plugin.
The plugin needs to be updated in order to accommodate this feature.

[2019-04-12 15:54] Debashis9012 commented on #373
This issue has been verified and found fixed with the below version.
``` 0.3.15.nightly-2019-04-11 ```

[2019-04-12 15:54] #373 closed

[2019-04-16 14:29] dihnatsyeu opened #381 "Could not find or load main class com.thoughtworks.gauge.GaugeRuntime"
### Expected behavior
Gauge tests should be executed but failed

### Actual behavior
Error: Could not find or load main class com.thoughtworks.gauge.GaugeRuntime
process /usr/bin/java with pid 16626 quit unexpectedly. exit status 1

### Steps to reproduce
Execute gradle gauge with the plugin version 1.7.3
Kotlin was used instead of Java

### Version information

* IntelliJ version and edition(Comm

[2019-04-17 08:58] Apoorva-GA commented on #381
@dihnatsyeu Intellij 2019.1 support is added in gauge-intellij plugin version 0.3.15 which is not yet released.
So please use the latest nightly version (0.3.15.nightly-2019-04-11). You can fallow [these](https://github.com/getgauge/Intellij-Plugin#installing-nightly) instructions.

[2019-04-17 11:36] jonathangiber opened #382 "Auto correct typos in specs"
Feature request:

Our devs raised the request to allow intellij to find typos in specifications.

[2019-04-18 04:52] NivedhaSenthil commented on #382
@jonathangiber can you please check if this is helpful for you https://stackoverflow.com/questions/12445117/intellij-idea-how-to-enable-spellchecking-for-custom-language-plugins ?

[2019-04-18 08:31] dihnatsyeu commented on #381
thank you! Unfortunately, it didn't help

[2019-04-19 09:12] NivedhaSenthil commented on #381
@dihnatsyeu thanks for reporting I could replicate the issue with the nightly version given for a sample gradle project.. seems to work fine for simple java project.

[2019-04-22 06:12] #379 closed

[2019-04-22 08:17] Apoorva-GA commented on #381
@dihnatsyeu Whats the `sourceCompatibility` and `targetCompatibility` set to in your `build.gradle` file?
Please set it to 1.8 and try again.
I am able to run our sample gradle java project(created using command `gauge init java_gradle`) without any errors.

[2019-04-24 10:18] Debashis9012 commented on #377
We have released intellij. Could you please try with the release version: 0.3.15
you can refer: https://github.com/getgauge/Intellij-Plugin/releases/tag/v0.3.15

[2019-04-24 10:18] #377 closed

[2019-04-26 02:38] xlhuanggit opened #383 "why"
### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### Steps to reproduce
1.
2.
3.

### Version information

* IntelliJ version and edition(Community/Ultimate):
* OS information:
* Gauge IntelliJ plugin version:
* Does the project uses any Build tool(Gradle/Maven)?
[code]

[2019-04-26 08:31] dihnatsyeu commented on #381
it's not java but kotlin project.
Source compatability is achieved via
tasks.withType<KotlinCompile> {
        kotlinOptions.jvmTarget = "1.8"
    }

[2019-04-26 09:56] zabil commented on #383
@xlhuanggit why?

Can you give please give us all the information?

[2019-05-02 10:18] #383 closed

[2019-05-02 10:20] sharath2106 commented on #381
Hi everyone

I face a similar issue while using Gauge with Gradle on Intellij IDEA.

I've my test scripts using Java, Selenium, and Gauge. It was working well earlier (sometimes plugin reinstallations are needed, not sure why) but now, my specs are not recognized even though step definitions are available.

<img width="542" alt="Screen Shot 2019-05-02 at 3 42 43 PM" src="https://user-images.github

[2019-05-02 12:07] sharath2106 commented on #381
Adding to the previous comment. I'm currently running the scripts with a tag added to specs as a Gradle task. PFB -

<img width="1059" alt="Screen Shot 2019-05-02 at 5 36 23 PM" src="https://user-images.githubusercontent.com/25933070/57074251-faffb380-6d00-11e9-9088-9347082da874.png">

[2019-05-03 07:29] sharath2106 commented on #381
Please find the entire stack trace after trying to run from the Intellij IDEA.

`Testing started at 12:58 ...
/usr/local/bin/gauge run --machine-readable --hide-suggestion --simple-console "/Users/gopishankar/Downloads/Mopar codebase/pricing-ui-tests/specs/UK_Volume_Scenario.spec:9"
Error: Could not find or load main class com.thoughtworks.gauge.GaugeRuntime

process /Users/gopishankar/.asdf/insta

[2019-05-06 08:11] negiDharmendra commented on #381
@sharath2106 Are you able to run `Gauge specs` from the command line.
Which version of IntelliJ and Gauge-IntelliJ plugin you are using.

[2019-05-23 06:03] shubhamsc commented on #381
@sharath2106 I can see this issue with IntelliJ 2018.3 and gauge-IntelliJ-plugin v0.3.14.
With the latest gauge-IntelliJ-plugin, I'm not seeing any issue.
Can you update the plugin to the latest released v0.3.15?
Let's know if you are still facing the same issue with the latest gauge plugin.

[2019-06-05 10:17] #381 closed

[2019-06-14 18:46] j-morsum opened #384 "Exception when closing one of several Gauge projects open"
### Expected behavior
No exception should be thrown.

### Actual behavior
I often have more than one Gauge projects open so when I close one I see an error on the open project. On some occasions I see the same exception while opening a project.

There isn't any message in the log files. The exception shown is:
[code]
### Steps to reproduce
1. Open two or more Gauge projects on Intellij;
2. Close o

[2019-06-19 07:44] pevniacik opened #385 "Gauge issue"
### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### Steps to reproduce
1.
2.
3.

### Version information

* IntelliJ version and edition(Community/Ultimate):
* OS information:
* Gauge IntelliJ plugin version:
* Does the project uses any Build tool(Gradle/Maven)?
[code]

[2019-06-19 10:39] nehashri commented on #385
@pevniacik  Can you provide more details please.

[2019-06-19 11:35] nehashri commented on #384
@j-morsum I am able to replicate this issue in windows, we will look at fixing this soon.

[2019-06-20 06:02] #385 closed

[2019-07-07 22:04] Ashraf407 commented on #246
Error adding module to project: Gauge API not started.   Still I am facing this issue

[2019-07-08 05:20] silashayri opened #386 "Gauge plugin not started"
### Expected behavior
When click the steps in the specs it should go to directly related steps in the class

### Actual behavior
I got this error and on the specs page the all steps are underlined with red. Also when click with ctrl to go to the related step in the class , it doesn't response.
The message in the log :
[code]

### Steps to reproduce
1. Open one Gauge projects on Intellij;
2. Click

[2019-07-08 06:40] shubhamsc commented on #386
@silashayri Please provide required information to replicate the issue.

[2019-07-08 07:59] silashayri commented on #386
com.intellij.openapi.module.impl.ModuleManagerComponent@c8112a2

java.lang.RuntimeException: Gauge API not started
	at com.thoughtworks.gauge.connection.GaugeConnection.createConnection(GaugeConnection.java:76)
	at com.thoughtworks.gauge.connection.GaugeConnection.createConnection(GaugeConnection.java:87)
	at com.thoughtworks.gauge.connection.GaugeConnection.createConnection(GaugeConnection.java:8

[2019-07-08 08:01] silashayri commented on #386
I got this error and on the specs page the all steps are underlined with red. Also when click ctrl to go to the related step in the class , it doesn't response

[2019-07-10 06:06] shubhamsc commented on #386
@silashayri I tried to replicate this issue with provided gauge and plugins versions in windows 10. But does not get any error. Can you try again with latest version of gauge and plugins?
Let's know if you still getting same error with updated versions.

[2019-07-12 05:42] silashayri commented on #386
Yes, also I used the latest nightly version bur still the same error. May be occur that not to connect the internet or blocked by firewall?

[2019-07-12 05:56] Debashis9012 commented on #384
This issue has been fixed with the latest nightly version: ```0.3.16.nightly-2019-07-09```

[2019-07-12 05:56] #384 closed

[2019-07-12 08:39] shubhamsc commented on #386
There is the same kind of issue in IntelliJ while initialling gauge project. It shows the same Error. See this  https://github.com/getgauge/Intellij-Plugin/issues/246#issuecomment-382557829, It may help to run gauge by setting permissions.

[2019-07-17 18:57] ChaseKrause opened #387 "Gauge plugin crashing unexpectedly"
Gauge daemon initialized and listening on port: 58745
[code]

[2019-07-17 18:58] ChaseKrause commented on #387
com.intellij.openapi.module.impl.ModuleManagerComponent@5a5ea276

java.lang.RuntimeException: Gauge API not started
	at com.thoughtworks.gauge.connection.GaugeConnection.createConnection(GaugeConnection.java:76)
	at com.thoughtworks.gauge.connection.GaugeConnection.createConnection(GaugeConnection.java:87)
	at com.thoughtworks.gauge.connection.GaugeConnection.createConnection(GaugeConnection.java:

[2019-07-17 19:13] #387 closed

[2019-07-24 16:22] aka-38 commented on #337
Getting same error on updating to Idea 2019.2 community edition

java.lang.RuntimeException: Gauge API not started
	at com.thoughtworks.gauge.GaugeConnection.createConnection(GaugeConnection.java:50)
	at com.thoughtworks.gauge.GaugeConnection.createConnection(GaugeConnection.java:61)
	at com.thoughtworks.gauge.GaugeConnection.createConnection(GaugeConnection.java:61)
	at com.thoughtworks.gauge.Gau

[2019-07-24 18:50] eabusharkh opened #388 "Gauge plugin errors in intellij"
### Expected behavior
I should not get any errors with the gauge plugin.  I recently had an update to intellij and it is currently throwing an error for the gauge plugin (version 0.2.4 is what is available in the marketplace for the gauge plugin).  The error reads: Please log an issue here with the following details and reload the project. //Error: unknown flag: --daemonizeUsage: gauge [flags] [ar

[2019-07-25 06:35] Apoorva-GA commented on #388
Could you please help us with the IntelliJ version?
Looking at the error I believe you are on the latest version which is 2019.2. Correct me if I am wrong.

[2019-07-25 14:22] eabusharkh commented on #388
That is correct, 2019.2 is the ultimate version that I have of intellij.  The gauge plugin version in the marketplace in intellij has the old version of the plugin, the 2.4, the latest version out there for the plugin is 3.5.

[2019-07-26 04:46] Apoorva-GA commented on #388
@eabusharkh Thanks for reporting. We are looking at adding the support to Intellij 2019.2 soon.

[2019-07-26 09:21] Apoorva-GA commented on #388
@eabusharkh Fix is available in gauge-intellij-plugin nightly with version >= 26/07/19.
Please fallow the [instructions](https://github.com/getgauge/Intellij-Plugin#installing-nightly) to install the nightly version.
Also we will be releasing the `gauge-Intellij-plugin` with the fix soon.

[2019-07-26 09:23] Apoorva-GA commented on #337
@aka-38  Fix is available in gauge-intellij-plugin nightly with version >= 26/07/19.
Please fallow the [instructions](https://github.com/getgauge/Intellij-Plugin#installing-nightly) to install the nightly version.
Also we will be releasing the `gauge-Intellij-plugin` with the fix soon.

[2019-07-26 09:42] Apoorva-GA opened #389 "Release tasks 0.3.16"
These are the release activities to be performed when releasing Intellij plugin.
## Pre release
- [x] Check all commits that has been added with this release and make sure the relevant issues are tested/closed.
- [x] Update plugin.xml to include change notes for this release.
- [x] Check if all relevant tests are passing.
- [x] Take a call on release.

## Release
- [x] Trigger the Intellij release

[2019-07-26 16:07] eabusharkh commented on #388
Hi Apoorva-GA, I have tested with intellij 2019.2 and the nightly build listed above and it works now for me.

Thank you!

[2019-07-26 16:07] #388 closed

[2019-07-27 05:01] chadlwilson commented on #389
Would be great to get this released. My plugin is now trying to rolling to `0.2.4` which I guess it thinks is the last compatible release... :-/

[2019-07-28 14:56] Apoorva-GA commented on #389
@chadlwilson We have added support to intellij 2019.2 in gauge-intellij-plugin nightly with version >= 26/07/19. You can use the nightly until we release.
Please fallow the [instructions](https://github.com/getgauge/Intellij-Plugin#installing-nightly) to install the nightly version.

[2019-07-30 11:36] Apoorva-GA commented on #389
@chadlwilson We have released Gauge IntelliJ plugin `0.3.16`. Install the latest version to add support to Intellij 2019.2

[2019-07-30 11:36] #389 closed

[2019-08-02 11:07] nehashri opened #390 "Log Gauge connection failed reasons"
When IntelliJ tries to establish a Gauge connection, it sometimes fails with unable to connect to port. The error due to which it fails is not available, IntelliJ logs should have this error to help better debug the issue.

[2019-08-13 18:59] stevenmchaves opened #391 "IntelliJ Community Edition 2019.2 using Gauge 0.3.16 plugin"
### Expected behavior
I am expecting no issues when I attempt to execute the Spec in debug mode.

### Actual behavior
java.lang.reflect.InvocationTargetException
	at jdk.internal.reflect.GeneratedMethodAccessor93.invoke(Unknown Source)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.ja

[2019-08-14 09:59] chfourie commented on #337
Still getting the issue on 0.3.17.nightly-2019-07-31...

`
java.lang.RuntimeException: Gauge API not started
	at com.thoughtworks.gauge.connection.GaugeConnection.createConnection(GaugeConnection.java:76)
	at com.thoughtworks.gauge.connection.GaugeConnection.createConnection(GaugeConnection.java:87)
	at com.thoughtworks.gauge.connection.GaugeConnection.createConnection(GaugeConnection.java:87)
	at

[2019-08-14 12:55] chfourie commented on #337
My apologies.  I might have jumped the gun on this.  There seems to be a problem with my gauge installation which is probably what is behind the error that I logged in my previous comment.

[2019-08-14 14:14] #337 closed

[2019-08-16 06:52] Apoorva-GA commented on #391
@stevenmchaves I am able to execute a spec in debug mode in IntelliJ Community Edition 2019.2 using Gauge 0.3.16 plugin.

Steps followed :
-  I created a sample java project in IntelliJ 2019.2 by navigating to `File -> New Project`, select `Gauge` and click `Next`.
- Choose the `Project name`, `Project location`, `Project SDK` and click `Finish`.
- Open the `example.spec` file.
- Select Debug `exa

[2019-08-16 09:27] Apoorva-GA commented on #386
@silashayri Any updates on this?

[2019-08-16 09:33] silashayri commented on #386
Nope, still no hope. I think, the internet connection issues may cause this problem

[2019-08-16 12:11] stevenmchaves commented on #391
I ended up removing some other plugins from IntelliJ that I was using and that solved the issue.

[2019-08-16 12:11] #391 closed

[2019-08-20 08:35] michael-edgar commented on #307
I'm having the same issue now running on Ubuntu 18.04.3 with the following:
Gauge version: 1.0.6,
Commit Hash: 2bc49db,
html-report (4.0.8),
java (0.7.2),
screenshot (0.0.1)

As for intellij: Intellij IDEA Ultimate 2019.2
Gauge plugin 0.3.16

I've logged this issue on stackoverflow (https://stackoverflow.com/questions/57560088/unsupported-gauge-version-this-version-of-gauge-intellij-plugin-only-wo

[2019-08-20 09:38] michael-edgar opened #392 "Unsupported Gauge Version: This version of Gauge Intellij plugin only works with Gauge version >= 0.9.0"
I've a gauge project that I've been using since January 2019 and out of nowhere I started getting this unsupported gauge version error. I thought it was due to an update, either in gauge, intellij or the gauge intellij plugin but this seems not to be the case.

I've tried uninstalling and reinstalling gauge, the gauge plugin, intellij, creating a new sample project on my machine and manually speci

[2019-08-21 06:12] luciferankon commented on #392
@michael-edgar Hey can you just confirm the `Gauge binary path` you can get that in `Preferences->Tools->Gauge`. If this is set to the gauge binary. Can you please provide a screenshot of the same?

[2019-08-21 08:46] michael-edgar commented on #392
![gaugePath](https://user-images.githubusercontent.com/22317115/63417099-8c05b200-c3f8-11e9-9bdb-1468c3cd3c17.png)
Here you go @luciferankon

[2019-08-22 06:21] luciferankon commented on #392
@michael-edgar Hey could you please elaborate when actually you are getting this particular error? While running or implementing or any other process?

[2019-08-22 09:02] michael-edgar commented on #392
@luciferankon I'm getting this error when I am opening any gauge project.

[2019-08-22 11:39] LemonKolbas opened #393 "How cat I solve such problem?"
### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### Steps to reproduce
1.
2.
3.

### Version information

* IntelliJ version and edition(Community/Ultimate):
* OS information:
* Gauge IntelliJ plugin version:
* Does the project uses any Build tool(Gradle/Maven)?
[code]

[2019-08-23 05:33] luciferankon commented on #393
@LemonKolbas We would like to solve your problem. But for that first let us know what is you problem?

[2019-08-24 11:52] Ashraf407 opened #394 "Gauge runner fails with use of closed network connection"
Hi Team,

I was facing this issue when ever i am executing the scenario.

Connection to runner with PID 12044 lost. The runner probably quit unexpectedly. Inspect logs for potential reasons. Error : read tcp 127.0.0.154811 ->127.0.0.1:154815: use of closed network connection.

I have done increases the runner time in config.properties.

Kindly help this issue.

Gauge version: 1.0.5
Commit Hash: 56

[2019-08-26 05:28] Apoorva-GA commented on #392
@michael-edgar  Could you please make sure `Gauge` is installed in the Gauge binary path given in IntelliJ.
You can run `which gauge`  command to check the same.

[2019-08-26 05:41] Apoorva-GA commented on #394
@Ashraf407 Could you give us more information like:
-  IntelliJ version and edition
- version of Gauge-IntelliJ plugin
- OS information

Also does this issue occur when you try to run the specification? Is this specific to running a scenario from IntelliJ?

[2019-08-26 08:31] michael-edgar commented on #392
@Apoorva-GA I've made sure that Gauge is installed in the path specified in the Gauge binary path given in Intellij

[2019-08-28 10:53] Apoorva-GA commented on #392
@michael-edgar how did you install gauge? Please make sure Gauge is installed only once(in `/usr/local/bin/`) and not anywhere else.
You can also try and remove the gauge binary path value and try.

[2019-08-28 11:39] michael-edgar commented on #392
I followed the installation guide (https://docs.gauge.org/installation.html) using the Debian installation instructions. I've done some looking and gauge is not installed anywhere else. Specifying or not specifying the binary path does not seem to make a difference

[2019-08-30 06:34] Apoorva-GA commented on #393
Feel free to reopen with relevant details.

[2019-08-30 06:34] #393 closed

[2019-08-30 07:54] Ashraf407 commented on #394
-2018.3.4 and 2019.2(latest) both I have used.
- 0.3.17. nightly- 2019-07-31.
-Windows 7 and Windows 8 both I used.

I was getting executing any scenario of the spec and also executing the any spec file also.

[2019-09-02 12:19] Ashraf407 commented on #394
Hi Team,

 Could  u please help me on that.

Thanks,
Ashraf

[2019-09-04 11:09] negiDharmendra commented on #392
@michael-edgar  There seems to be an issue with the IntelliJ plugin. We will be looking into it as soon as possible. As workaround you can run `gauge telemetry off` and you should not see this issue.

[2019-09-05 10:52] nehashri opened #395 "Remove notification to create issue"
If an error occurs in IntelliJ plugin, we show a notification asking the user to create a issue in github. This issue is not populated with any data by default and leads to blank issues created (like https://github.com/getgauge/Intellij-Plugin/issues/393).
The notification is not adding a lot of value to the users, hence it is better to remove this feature altogether.

[2019-09-07 13:01] #341 closed

[2019-09-07 13:01] gagneet commented on #341
Seems there is an issue with integration to OneDrive files.

[2019-09-07 18:09] Ashraf407 commented on #394
Thanks Apoorva.. Waiting for good response from your your side.  Kindly let me know if u got any information about this.

Thanks,
Asharf

[2019-09-10 09:44] nehashri commented on #394
@Ashraf407 Can try looking at the log files, specifically the `gauge.log` file for any errors reported there. This will help us better debug the issue.

Also, if you can (and don't find any errors), please try to install Gauge 1.0.6 version and also Gauge Java nightly version and see if there are any errors and share the log file if possible.
You can find the installation instructions in https://g

[2019-09-11 05:50] nehashri commented on #386
@silashayri We have released another version of Gauge IntelliJ plugin (v0.3.16). Can you please see if that solves your issue?
If not, can look at the IDE log files and let us know if there are any exceptions reported in the files. To locate the IDE log files, refer https://intellij-support.jetbrains.com/hc/en-us/articles/207241085-Locating-IDE-log-files.

[2019-09-13 08:32] nehashri commented on #394
@Ashraf407 The [gauge-java plugin](https://github.com/getgauge/gauge-java) is for java projects. But if you are using maven as your build tool, you need to use the [gauge maven plugin](https://github.com/getgauge-contrib/gauge-maven-plugin) as well.

If I understand you correctly, you don't see any errors in any of the log files mentioned above?

[2019-09-15 16:12] Ashraf407 commented on #394
Still issue not got resolved .
I have done offline plugin installation which u have sent before 2 nd link while using the  .zip files.

[2019-09-16 11:27] nehashri opened #397 "Add more log messages"
Add more log messages in the plugin.
The plugin should log a message:
- [x]  whenever a error/exception occurs.
- [x] if gauge settings is set and if run setting are set. (The details need not be logged, just that fact that the setting exists should be good).

[2019-09-17 11:44] jbadeau commented on #203
I'm also getting the error as well.

java.lang.RuntimeException: Gauge API not started
	at com.thoughtworks.gauge.connection.GaugeConnection.createConnection(GaugeConnection.java:76)
	at com.thoughtworks.gauge.connection.GaugeConnection.createConnection(GaugeConnection.java:87)
	at com.thoughtworks.gauge.connection.GaugeConnection.createConnection(GaugeConnection.java:87)
	at com.thoughtworks.gaug

[2019-09-18 05:05] #395 closed

[2019-09-20 05:25] Ashraf407 commented on #394
I have done wt ever u guys are said but still in my gauge.log is failed some plugin
I have download offline plugins.

Failed to download
html-report-install.json.
Java-install.json.

[2019-09-20 11:19] zabil commented on #394
Gauge requires will require offline installation of the following plugins
* [Gauge html report](https://github.com/getgauge/html-report/releases)
* [Gauge screenshot](https://github.com/getgauge/gauge_screenshot/releases)
* [Gauge java](https://github.com/getgauge/gauge-java/releases)

Please follow the links above to download the right archive for your os and use the [offline installation command

[2019-09-24 06:54] Apoorva-GA commented on #390
Available in gauge-java nightly >= 24/09/2019

[2019-09-24 19:11] Ashraf407 opened #398 "Execute gauge maven project with tags"
Hi Team,

// IntelIij
// Gauge-maven I am using

   I am executing  my specs files with tags based on the profile creation please find this command .
"mvn test  -P  profileName."

So with out profile creation I have excuted all the specs while using this command based on some plugin changes.
"Mvn test"

My question is Is there any possibility to execute the spec with tags by using this command.

"

[2019-09-25 07:37] BugDiver commented on #398
@Ashraf407 The `mvn test` runs all the specification by default. It can be overridden in your pom.xml

you can these lines to your pom.xml
[code]

Reger to  https://github.com/getgauge-contrib/gauge-maven-plugin#as-a-part-of-maven-test-phase

As an alternative you can also use `mvn gauge:execute` command.
Example : `mvn gauge:execute -DspecsDir=specs -Dtags="sometags"`

[2019-09-25 09:13] nehashri opened #400 "Use a saner range of ports to start Gauge API ports"
IntelliJ plugin starts the Gauge daemon with a random free port. There is no range from which the port is picked up. If the port is blocked by the firewall, then the Gauge IntelliJ plugin fails as it cannot establish a connection with the Gauge daemon.
In the Visual Studio plugin, the Gauge daemon only starts with a specified port range (46337 - 46997) by default. Furthermore, this range can be co

[2019-09-25 12:06] nehashri opened #401 "Plugin should work if Gauge is installed via npm"
**Actual Behaviour**
Gauge plugin doesn't work if Gauge is installed via npm (`npm install @getgauge/cli -g`).
The plugin throws two errors.
[code]

**Expected Behaviour**
Gauge IntelliJ plugin should work even if Gauge is installed via npm. The user should not set the Gauge binary path via the Gauge settings to get the IntelliJ plugin to work. It should find the gauge binary installed with npm(if

[2019-09-25 15:29] Ashraf407 commented on #398
Thanks team.

[2019-09-25 18:38] #398 closed

[2019-09-28 13:38] Ashraf407 commented on #394
Offline installation i have done but in log files it was showing same failed to download plugins which I mentioned above messages.
U have given correct answers but something is wrong from my side only I will try my level best but finally failed to implement this framework in my project .

[2019-09-30 06:50] Apoorva-GA commented on #203
@jbadeau Could you please try with latest [gauge-java nightly](https://bintray.com/gauge/gauge-java/Nightly/0.7.3.nightly-2019-09-27). We have added more relevant logs to debug this issue.

Refer [nightly installation instructions](https://github.com/getgauge/gauge-java#nightly-installation) to install gauge-java from nightly.

[2019-10-03 19:32] Ashraf407 commented on #394
Hi Team,

In my gauge.log file it was showing.
Plugin java already installed.
Plugin html-report is already installed

But again it was showing
installing required plugins
Downloading https://downloads.gauge.org/plugins...

Failed to download screenshot-install.json
Downloading https://downloads.gauge.org/plugins...
Failed to download html-report-install.json

Same like as jav-install.json.
Please

[2019-10-03 19:34] Ashraf407 commented on #394
@ zabil
@Nehashri
@Apoorva

Please help me.

[2019-10-04 04:34] apoorvab commented on #394
Tagging the Apoorva that can help. @Apoorva-GA

[2019-10-07 20:54] ChaseKrause opened #402 "Gauge java plugin not installed"
### Expected behavior
Gauge API should not have an exception, and should start.

### Actual behavior
Following error is received:
com.intellij.openapi.module.impl.ModuleManagerComponent@66039a82

java.lang.RuntimeException: Gauge java plugin is not installed.
	at com.thoughtworks.gauge.module.lib.GaugeLibHelper.gaugeLib(GaugeLibHelper.java:175)
	at com.thoughtworks.gauge.module.lib.GaugeLibHelper.

[2019-10-08 14:33] Ashraf407 commented on #394
@Appoorva-GA
Waiting for Ur reply.

[2019-10-09 05:44] Debashis9012 commented on #394
@Ashraf407 what about screenshot plugin? I don't see any log regarding screenshot plugin has been installed like java and html-report. As screenshot is a mandatory plugin so please make sure you have installed screenshot plugin as @zabil mentioned earlier.

You are getting the below issue due to lack of internet connectivity.

[code]

I would suggest please check your internet connectivity. If you

[2019-10-10 10:27] Debashis9012 commented on #402
@ChaseKrause Need few information from your side to replicate this issue:

1. which os version you are facing this issue?
2. could you please update gauge version to 1.0.6  then try the same scenario and please let us know if you are still facing this issue?

[2019-10-10 14:29] kanchan9987 commented on #392
I am new to Gauge and facing the same issue. I have installed it on windows:
C:\Program Files\Gauge>gauge --version
Gauge version: 1.0.6
Commit Hash: 2bc49db

Plugins
-------
html-report (4.0.8)
java (0.7.2)
screenshot (0.0.1)

Gaugebinary path : C:/Program Files/Gauge/bin/gauge.exe

Intellij Gauge plugin version : 0.3.16

[2019-10-10 19:13] Ashraf407 commented on #394
Where I need to configure this proxy settings in intellj .

File > settings > Http Proxy .
Correct?

[2019-10-11 04:50] nehashri commented on #394
@Ashraf407 As suggested by @Debashis9012, you need to set this variable in your system's environment variables. Please look at the documentation https://docs.gauge.org/configuration.html#http-proxy-setting-while-using-gauge

[2019-10-11 05:07] KVenkatR813 opened #403 "Connection runner time out"
Hi Team,

I am facing this issue frequently.

Some times my specs are executing fine some time I was facing this issue.

I am using Maven gauge project. All plugins I have provided correctly.

 "Connection to runner with pid 6420. The runner probably quit unexpectedly. Inspect log for potential reasons. Error : read tcp 127.0.0.1:149458->127.0.0.1:49459: use of closed network connection"

[2019-10-11 05:45] Ashraf407 commented on #390
If I provide gauge nightly version 0.7.3
For that I can change pom.xml gauge-java plugin also? Or I can continue with old version in pom(gauge-java 0.7.2)

[2019-10-11 09:08] Debashis9012 commented on #403
@KVenkatR813 Could you please share OS, gauge and plugins version information?

[2019-10-11 10:28] KVenkatR813 commented on #403
Gauge version :1.0.5
html-report:4.0.8
Java:0.7.2
OS:Win 7

[2019-10-11 10:59] haroon-sheikh opened #404 "Environment variables are not picked up by the plugin"
### Expected behavior
environment variable is picked up.

### Actual behavior
Environment variables are not picked up by the plugin

[code]

### Steps to reproduce
1. Set environment variable `MY_VAR=my_value`
2. Reference the variable in default.properties `my_property=${MY_VAR}`
3. Import/reopen the project in IntelliJ.
3. The value of ${MY_VAR} should be assigned to `my_property`

### Version i

[2019-10-14 07:02] jbadeau commented on #203
@Apoorva-GA the gauge-java nightly did not solve the issue unfortunately.

[2019-10-14 07:12] negiDharmendra commented on #404
@haroon-sheikh How are you setting the env variable?

If you are setting this env from terminal then make sure you start the IntelliJ from the same terminal. Other wise IntelliJ will note pickup the env variable.

[2019-10-14 08:19] jbadeau commented on #203
@Apoorva-GA The java-gauge issue did not fix the problem but the latest nightly intellij plugin fixes teh issue.

[2019-10-14 08:29] haroon-sheikh commented on #404
@negiDharmendra I'm starting it from the same terminal. I've also set the env variables in bash_profile and bashrc but it still does not pick it up.

[2019-10-15 07:03] negiDharmendra commented on #203
@jbadeau I am glad to know that the issue is resolved for you. We would like to know what has caused the issue in the first place. Please provide more information.

- run `gauge -v` on your terminal and share the output with us
- which os your working on
- java version
- Intellij version and Gauge Intellij Plugin version.
- Were you able to replicate this issue with a new Gauge Java project. If no

[2019-10-15 07:24] KVenkatR813 commented on #403
Could you please help me to resolve the above issue facing

[2019-10-15 07:36] jbadeau commented on #203
# Version info
`
Gauge version: 1.0.5
Commit Hash: 562f036

Plugins
-------
html-report (4.0.8)
java (0.7.2)
json-report (0.3.1)
python (0.3.5)
reportportal (1.1.0)
screenshot (0.0.1)
xray-report (0.0.1)
`
Please note that I am using Gauge 1.0.5 due to a bug in 1.0.6 which causes excessive logging (don't remember the issue number).

After using the nightly build it seems the issue is not completel

[2019-10-15 09:13] negiDharmendra commented on #203
@jbadeau Few more details

- which os your working on
- java version
- Intellij version and Gauge Intellij Plugin version.

No Gauge Intellij plugin does not uses LSP.

[2019-10-15 09:18] negiDharmendra commented on #403
@KVenkatR813 Is it possible for you to switch to Windows 10.

[2019-10-15 11:15] jbadeau commented on #203
windows 7
Java 1.8
IntelliJ 2019.2.3

Oh OK, was really curious how you would have got it to work.

[2019-10-15 12:28] negiDharmendra commented on #404
@haroon-sheikh The problem with the IntelliJ is that it does not inherit the env from .bash_profile and .bashrc
You will have export them on the terminal and then start the IntelliJ from the same terminal session.

[2019-10-15 12:47] haroon-sheikh commented on #404
Ok. so there's no way to tell gauge plugin to include params?
Just out of interest, why does it try to load the env file on import? should it not only do that at runtime?

[2019-10-15 14:14] pvskarps commented on #203
Over 3 years since I first logged this issue and the fact it is still open and active is surprising to me.  Everyone having these Gauge API not started errors should read [this comment in issue #177.](https://github.com/getgauge/Intellij-Plugin/issues/177#issuecomment-256729675).  Your notice the fix has been referenced many times throughout the comment history of this issue.

I'm not saying the f

[2019-10-16 04:28] KVenkatR813 commented on #403
Organisation supports only win7 here, not passible to switch to win10, mean this gauge framework will not support win7?
Kindly clarify me

[2019-10-16 08:48] #403 closed

[2019-10-16 10:05] negiDharmendra commented on #404
You mean when we import the project in IntelliJ

[2019-10-16 10:29] haroon-sheikh commented on #404
Yep, why does it do that on importing the project?

[2019-10-16 11:43] negiDharmendra commented on #404
IntelliJ plugin tries to start Gauge API service as soon as Gauge project is imported in IntelliJ. Which is why Gauge fails as it does not find the required ENV variable.

[2019-10-16 11:51] haroon-sheikh commented on #404
Is there something we can do so that it wouldn't error?

[2019-10-16 19:28] Ashraf407 commented on #394
Please find this below image is correct for setting the proxy.
![Details](https://user-images.githubusercontent.com/47331019/66951934-60760100-f010-11e9-93db-43933b052318.PNG)

[2019-10-17 05:01] negiDharmendra commented on #404
I am afraid to say but the only workaround is to launch the IntelliJ from the terminal where required environment variables are available.

[2019-10-17 13:16] Ashraf407 commented on #394
@Debashis9012 , please check whether if it is correct or not.

[2019-10-17 13:24] Ashraf407 commented on #403
@Apoorva-GA,. I am also using windows 7 because of that  facing same issue on that will it be possible to resolve because most of the company still they are using windows 7 .

[2019-10-18 08:21] negiDharmendra commented on #394
@Ashraf407 It should be fine.

[2019-10-18 14:38] Ashraf407 commented on #394
Thanks Dharmendra.

[2019-10-21 05:09] Apoorva-GA opened #405 "Add build from source steps to read me file."

[2019-10-21 05:13] nehashri commented on #392
@kanchan9987 The issues seems to be fixed but a release has not been done yet. Please download the latest nightly plugin from https://plugins.jetbrains.com/plugin/7535-gauge/versions and install it. This may help fix the issue. Refer https://www.jetbrains.com/help/idea/managing-plugins.html for installing plugin archive from disk.

[2019-10-21 07:03] #394 closed

[2019-10-21 13:35] trung opened #406 "NullPointerException at CustomRenameHandler.getStepElement"
### Version information

* IntelliJ version and edition: `Ultimate 2019.2.3`
* OS information: `MacOS 10.14.6`
* Gauge IntelliJ plugin version: `0.3.17.nightly-2019-07-31`

[code]

[2019-10-22 05:52] nehashri commented on #406
@trung Can you please add some steps to help reproduce this issue?
What version of IntelliJ are you using?
What version of Gauge plugin are you using?
Please run `gauge -v` on the command prompt and paste the results here.

[2019-10-22 07:32] Debashis9012 commented on #392
This issue has been verified and found fixed.
Tested version: `2e5182b`

[2019-10-22 07:32] #392 closed

[2019-10-22 13:28] trung commented on #406
I saw it in the IntelliJ notification panel, not sure why it happened.
[code]

You can find other details in the issue description

[2019-10-23 08:28] nehashri commented on #406
I have added a commit to handle the null pointer, hopefully you will not see it again.

[2019-10-23 08:28] #406 closed

[2019-10-23 08:42] #386 closed

[2019-10-23 08:44] #404 closed

[2019-10-23 09:07] nehashri commented on #402
@ChaseKrause This error occurs if the Gauge-java plugin is not installed before opening the project in IntelliJ. To fix this error, please run
[code]
on a command prompt.
Then try opening the project in IntelliJ.

[2019-11-06 08:37] nehashri commented on #402
Hope the above solves the issue. Please feel free to reopen if the fix doesn't work.

[2019-11-06 08:37] #402 closed

[2019-11-06 16:34] JanisSharma commented on #381
I got this error because I was trying to run

javac HelloWorld.java && java HelloWorld.class
when I should have removed .class:

javac HelloWorld.java && java HelloWorld

Get Full Code At [Here](https://icetutor.com/question/error-could-not-find-or-load-main-class/)

[2019-11-07 10:41] nehashri commented on #203
@pvskarps I have incorporated a similar fix with https://github.com/getgauge/gauge-java/commit/1fcfc5655abc28b072add38de1c0d20d5c02b8a0 and https://github.com/getgauge/gauge-java/commit/03df27f088ab82ce4816f2cd133f97b8fddd43b7

[2019-11-08 08:35] nehashri opened #408 "Release tasks 0.3.17"
These are the release activities to be performed when releasing Intellij plugin.
## Pre release
- [x] Check all commits that has been added with this release and make sure the relevant issues are tested/closed.
- [x] Update plugin.xml to include change notes for this release.
- [x] Check if all relevant tests are passing.
- [x] Take a call on release.

## Release
- [x] Set a Github personal access

[2019-11-12 08:04] vmatyusGitHub commented on #330
I have met with the same problem. I mainly experience high CPU load during debugging. When the IDE stops at a breakpoint starts to consume CPU load steadily. When I stop the debugging, the CPU usage starts to drop and decrease back to normal operation.

I am using Gauge plugin 0.3.16 with Gauge 1.0.6
I am not experiencing this with VSCode plugin, when I dealing with JS or Python.
[code]

[2019-11-12 08:31] nehashri opened #409 "buildPlugin task fails with memory leak issue"
Running `./gradlew buildPlugin` fails with memory leak issue.
[code]

[2019-11-12 09:36] #397 closed

[2019-11-12 12:26] eyupco opened #411 "Gauge API not started"
### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### Steps to reproduce
1.
2.
3.

### Version information

* IntelliJ version and edition(Community/Ultimate):
* OS information:
* Gauge IntelliJ plugin version:
* Does the project uses any Build tool(Gradle/Maven)?
[code]

[2019-11-12 12:44] nehashri commented on #411
@eyupco please give more information on the error you are facing.

[2019-11-12 13:42] eyupco commented on #411
sorry for the issue. we solved the problem with local admin

[2019-11-12 14:07] #411 closed

[2019-11-18 05:09] Debashis9012 commented on #409
This issue has been verified and found fixed.
Tested version: `946deae`

[2019-11-18 05:09] #409 closed

[2019-11-19 05:37] #408 closed

[2019-11-19 17:14] kgalli commented on #367
@zabil can you explain what the difference is for having the gauge plugin playing nice with `Java` but not with `Javascript`. I'm completely new to IntelliJ IDEA plugins but I do not mind getting my hands dirty and implement what is necessary.

Let's assume it can be implemented with a reasonable amount of effort. How likely is it that a new version of IntelliJ will force an update of the plugin?

[2019-11-20 10:29] zabil commented on #367
@kgalli thanks for reaching out!
Writing, testing or maintaining IntelliJ plugins has been quite tough in our experience. This is because of the plugin architecture. Have you tried Gauge's VS Code plugin? It has great support for Javascript.

However, I understand that switching IDE's may be difficult. There's documentation about how the Gauge IntelliJ plugin works at https://github.com/getgauge/I

[2019-11-20 14:55] kgalli commented on #367
@zabil thanks. I will have a look. I tried the Gauge SS Code plugin and it is indeed very nice. Let's see what my opinions are once I really understand the effort which has to be invested to get the Intellij-Plugin properly working with Javascript. :-D

[2019-11-29 09:11] sudhindra-aithal opened #413 "Gauge API not started - IntelliJ 2019.3 version"
java.lang.RuntimeException: Gauge API not started
	at com.thoughtworks.gauge.GaugeConnection.createConnection(GaugeConnection.java:50)
	at com.thoughtworks.gauge.GaugeConnection.createConnection(GaugeConnection.java:61)
	at com.thoughtworks.gauge.GaugeConnection.createConnection(GaugeConnection.java:61)
	at com.thoughtworks.gauge.GaugeConnection.createConnection(GaugeConnection.java:61)
	at com.th

[2019-11-29 10:43] Apoorva-GA commented on #413
Fix available in commit 2e6ea3923424d01022800728545db3ee0dcb61a8

[2019-11-30 16:27] Vlados177 opened #414 "This plugin is not production of JetBrains"
### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### Steps to reproduce
1.
2.
3.

### Version information

* IntelliJ version and edition(Community/Ultimate):
* OS information:
* Gauge IntelliJ plugin version:
* Does the project uses any Build tool(Gradle/Maven)?
[code]

[2019-12-01 09:49] brobles82 opened #415 "Bug unknown flag: --daemonize"
### Expected behavior
After install the plugin for IntelliJ and the java version should work as expected

### Actual behavior
You can not run any step and unknown error appears

After install the plugin all the steps are red and this error is logged

`Error: unknown flag: --daemonize`

### Steps to reproduce
1. Install intellj
2. Install gauge
3. Install java
4. Load a java project

### Version in

[2019-12-01 13:03] Vlados177 commented on #414
java.lang.reflect.InvocationTargetException
	at jdk.internal.reflect.GeneratedMethodAccessor66.invoke(Unknown Source)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at com.intellij.execution.process.ProcessHandler$2.invoke(ProcessHandler.java:214)
	at com.sun.proxy.$Proxy26

[2019-12-02 09:59] sudhindra-aithal commented on #413
@Apoorva-GA - I know it will take time to push this fix to public. Is there way we can have temporary fix ? I cannot revert to 2019.2 version now.

[2019-12-02 10:25] Mithil097 opened #416 "Updated Intellij community Edition and then all spec files are error"
### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### Steps to reproduce
1.
2.
3.

### Version information

* IntelliJ version and edition(Community/Ultimate):
* OS information:
* Gauge IntelliJ plugin version:
* Does the project uses any Build tool(Gradle/Maven)?
[code]

[2019-12-02 10:25] #416 closed

[2019-12-02 10:50] zabil commented on #413
A new plugin version will be available this week.
Meanwhile, you can [build and install](https://github.com/getgauge/Intellij-Plugin/blob/master/README.md#building-from-source) the plugin from source.

[2019-12-02 11:22] sudhindra-aithal commented on #413
thanks Zabil, I can wait in that case if its coming this week.

[2019-12-02 20:26] catamesac opened #417 "Intellij gauge pluggin"
### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### Steps to reproduce
1.
2.
3.

### Version information

* IntelliJ version and edition(Community/Ultimate):
* OS information:
* Gauge IntelliJ plugin version:
* Does the project uses any Build tool(Gradle/Maven)?
[code]

[2019-12-03 05:33] Debashis9012 commented on #413
This fix has been verified and found fixed in intelliJ 2019.3
Tested version: `2e6ea39`

[2019-12-03 05:33] #413 closed

[2019-12-03 08:51] Debashis9012 opened #418 "Release tasks 0.3.18"
These are the release activities to be performed when releasing Intellij plugin.
## Pre release
- [x] Check all commits that has been added with this release and make sure the relevant issues are tested/closed.
- [x] Update plugin.xml to include change notes for this release.
- [x] Check if all relevant tests are passing.
- [x] Take a call on release.

## Release
- [x] Set a Github personal access

[2019-12-03 09:23] negiDharmendra commented on #417
@catamesac Please tell us what issue you are facing with Intellij-Plugin

[2019-12-03 10:23] negiDharmendra commented on #415
@brobles82 Please update Gauge Intellij to [latest version ](https://github.com/getgauge/Intellij-Plugin/releases/tag/v0.3.18)

[2019-12-03 10:25] negiDharmendra commented on #414
- run `gauge -v` on your terminal and share the output with us
- which os your working on
- java version
- Intellij version and Gauge Intellij Plugin version.
- Were you able to replicate this issue with a new Gauge Java project. If not is it possible for you to share the sample project.

[2019-12-03 10:47] catamesac commented on #417
Intellij doesn't recognize the steps in gauge.. .spec file. It is in the lasts version

Enviado desde Yahoo Mail para Android

  El mar., 3 de dic. de 2019 a la(s) 4:23 a. m., Dharmendra Singh<notifications@github.com> escribió:
@catamesac Please tell us what issue you are facing with Intellij-Plugin

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on Git

[2019-12-03 11:17] iamsuv opened #419 "Not able to find the step implemented"
### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### Steps to reproduce
1.
2.
3.

### Version information

* IntelliJ version and edition(Community/Ultimate):
* OS information:
* Gauge IntelliJ plugin version:
* Does the project uses any Build tool(Gradle/Maven)?
[code]

[2019-12-03 11:50] negiDharmendra commented on #419
@iamsuv  We will require few information from you to investigate this issue.

- run `gauge -v` on your terminal and share the output with us
- which os your working on
- java version
- Intellij version and Gauge Intellij Plugin version.
- Were you able to replicate this issue with a new Gauge Java project. If not is it possible for you to share the sample project.

[2019-12-03 11:51] negiDharmendra commented on #417
@catamesac We will require few information from you to investigate this issue.

- run `gauge -v` on your terminal and share the output with us
- which os your working on
- java version
- Intellij version and Gauge Intellij Plugin version.
- Were you able to replicate this issue with a new Gauge Java project. If not is it possible for you to share the sample project.

[2019-12-03 11:58] catamesac commented on #417
I'm sorry but I'm not able to share it because is my work project, but the issue is with 
Intellij version and Gauge Intellij Plugin version.. when I try to run the spec intellij it doesn't recognize the steps and ask for there implementation
Enviado desde Yahoo Mail para Android

  El mar., 3 de dic. de 2019 a la(s) 6:51 a. m., Dharmendra Singh<notifications@github.com> escribió:
@catamesac We wi

[2019-12-03 12:18] negiDharmendra commented on #417
@catamesac Which versions of Intellij and Gauge Intellj plugin you are on?

[2019-12-03 12:20] catamesac commented on #417
And I know is the last version because I download the version before and is working

Enviado desde Yahoo Mail para Android

  El mar., 3 de dic. de 2019 a la(s) 6:51 a. m., Dharmendra Singh<notifications@github.com> escribió:
@catamesac We will require few information from you to investigate this issue.

   - run gauge -v on your terminal and share the output with us
   - which os your working on

[2019-12-03 12:28] negiDharmendra commented on #417
@catamesac Do you see any error in Intellij when you open the Gauge project? If yes, can you share the error message.

[2019-12-03 12:32] catamesac commented on #417
I'm already checking and Gause has a new release and I have gauge 0.3.18 and intellij I have 2019.2 .. the issue is in the 2019.2 version 

Enviado desde Yahoo Mail para Android

  El mar., 3 de dic. de 2019 a la(s) 7:18 a. m., Dharmendra Singh<notifications@github.com> escribió:
@catamesac Which versions of Intellij and Gauge Intellj plugin you are on?

—
You are receiving this because you were m

[2019-12-03 12:58] negiDharmendra commented on #417
**My setup:**
Gauge Intellij Version : 0.3.18
Intellij version
[code]

For me every thing works fine.

[2019-12-03 17:06] tysonite opened #420 "IllegalStateException on IntelliJ 2019.3 CE"
[code]

`Gauge plug-in version: 0.3.18`

An exception happens during start-up of IntelliJ:
[code]

[2019-12-04 05:46] negiDharmendra commented on #420
@tysonite I have the same version of Intellij and Gauge Intellij plugin. Every thing works fine for me.
Are you facing this issue with all the Gauge project or ist it specific to a Gauge project.

[2019-12-04 10:59] tysonite commented on #420
It is even not specific to the Gauge project. Only Maven project has been opened. And it was happened only once.

[2019-12-06 09:48] brobles82 commented on #415
Now It's working with the last version thx!

[2019-12-06 09:48] #415 closed

[2019-12-08 15:53] Vlados177 commented on #414
csharp (0.10.6)
dotnet (0.1.2)
flash (0.0.1)
html-report (4.0.8)
java (0.7.3)
python (0.3.6)
ruby (0.5.2)
screenshot (0.0.1)
spectacle (0.1.3)
xml-report (0.2.2)
---
Windows 10
-----------
java 11
---------
IntelliJ IDEA 2019.2.3 x64 and Gauge 0.3.18
-----------------
Cannot share the project

[2019-12-08 18:02] Vlados177 commented on #414
![image](https://user-images.githubusercontent.com/58368321/70393712-8b1f7d00-19f5-11ea-9376-5d2c09cb4fa1.png)
Please, help with problem it!

[2019-12-09 09:08] vmatyusGitHub opened #421 "CPU usage is very high during debugging"
### Expected behavior
During debugging a spec I would expect that the CPU usage remain acceptable.

### Actual behavior
During debugging a spec the CPU usage goes up to 300 percent or even higher. And after the stop of the debugging the CPU usage remains at 120%. I always need to kill IntelliJ to prevent the computer from heat up.

### Steps to reproduce
1. Start to debug a spec with IntelliJ
2. S

[2019-12-09 11:43] nehashri commented on #421
@vmatyusGitHub We will look at fixing this issue.
In the meanwhile you can try using[ Visual Studio Code Gauge plugin](https://marketplace.visualstudio.com/items?itemName=getgauge.gauge) with [Visual Studio Code](https://code.visualstudio.com/) as we will be [deprecating support for IntelliJ in Oct 2020](https://github.com/getgauge/Intellij-Plugin#deprecation-notice).

[2019-12-09 11:51] nehashri commented on #421
@vmatyusGitHub The issue may also be related to IntelliJ's issue https://youtrack.jetbrains.com/issue/IDEA-221203. Can you try upgrading your version of IntelliJ as mentioned in the issue?

[2019-12-09 12:07] Vlados177 commented on #414
I resolved this problem, only after installed java 8
![image](https://user-images.githubusercontent.com/58368321/70434576-41827100-1a8d-11ea-879e-60e66416405e.png)

[2019-12-11 08:23] nehashri commented on #417
@catamesac Can you atleast run `gauge -v` on your command prompt and paste its contents here? It is very hard for us to debug this issue without more information

[2019-12-11 08:49] nehashri commented on #414
duplicate of https://github.com/getgauge/gauge/issues/1528

[2019-12-11 08:49] #414 closed

[2019-12-11 09:00] nehashri commented on #419
please feel free to reopen the issue with more information

[2019-12-11 09:00] #419 closed

[2019-12-11 09:02] nehashri commented on #420
if you think this is because of Gauge plugin and happens again please feel free to reopen the issue.

[2019-12-11 09:02] #420 closed

[2019-12-11 12:24] vmatyusGitHub commented on #421
I just upgraded the IntelliJ to 2019.3
And I tried out the debugging and now I am not encountering constant load on the CPU.
It goes up to 115% but just for temporary, after starts to drop down.
For me this operation acceptable now. Thank you for your help!

[2019-12-11 14:42] #421 closed

[2019-12-16 13:21] AlexBasescu opened #422 "Gauge plugin 0.3.18 cannot be used in IntelliJ Idea Ultimate 2019.3 on mac os"
### Expected behavior
I should be able to run .spec files without issues.

### Actual behavior
When trying to run a .spec file, during compilation I receive the following error inside Intellij:
`java.lang.reflect.InvocationTargetException
	at jdk.internal.reflect.GeneratedMethodAccessor65.invoke(Unknown Source)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethod

[2019-12-17 07:49] shubhamsc commented on #422
@AlexBasescu I'm not seeing any error with IntelliJ idea 2019.3 and gauge 0.3.18.
Are you getting the same error with gauge java_maven sample project?
Create a sample project with `gauge init java_maven` and run in IntelliJ Idea.

[2019-12-17 15:18] AlexBasescu commented on #422
@shubhamsc I'm sorry, it was a mistake from my side. Actually I had an access right problems for the project I'm involved in, not a problem with the plugin and intellij.

[2019-12-17 15:18] #422 closed

[2019-12-18 14:43] ZLTM commented on #318
having the same problem with JDK11 on a clean install, appeared after running example.spec
[code]

[2019-12-18 14:45] ZLTM commented on #318
My full log

[code]

[2019-12-19 07:17] BugDiver commented on #405
This has been addressed as https://github.com/getgauge/Intellij-Plugin/commit/4ac403355df9f4bb094ed5452052b0fa40ebdd0a

[2019-12-19 07:17] #405 closed

[2019-12-26 04:12] #418 closed

[2020-01-14 08:29] negiDharmendra commented on #417
@catamesac Any updates?

[2020-01-14 14:20] catamesac commented on #417
Everything is working good now.. thanks 

Enviado desde Yahoo Mail para Android

  El mar., 14 de ene. de 2020 a la(s) 3:29 a. m., Dharmendra Singh<notifications@github.com> escribió:
@catamesac Any updates?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-01-14 15:00] #417 closed

[2020-01-24 10:15] zabil commented on #330
This might be related to IntelliJ versions https://github.com/getgauge/Intellij-Plugin/issues/421
Hoping this is resolved if you upgrade to IntelliJ IDEA 2019.3

If not, please feel free to re-open.

[2020-01-24 10:15] #330 closed

[2020-01-24 15:00] Thunderforge opened #423 "Incompatible with IDEA 2020.1 EAP"
The Gauge plugin is reported as incompatible with IDEA 2020.1 EAP. The interface recommends downgrading to 0.2.4, but I suspect this would not be advised because it does not work with the most recent versio of Gauge.

![image](https://user-images.githubusercontent.com/6200170/73078427-c384f880-3e87-11ea-8ef3-d86ab9cf0017.png)

### Version information

* IntelliJ version and edition(Community/Ultim

[2020-01-27 06:27] BugDiver commented on #423
@Thunderforge We will try to add support for IDEA 2020 as soon as possible.

FYI we have deprecated the IntelliJ-plugin, so there will not any active development for it.

https://github.com/getgauge/Intellij-Plugin#deprecation-notice

[2020-01-28 08:51] BugDiver commented on #423
@Thunderforge I tried to make the plugin compatible with IDEA 2020 but it won't be possible unless JetBrains releases the IDEA package for version 2020.
Currently, they haven't released the required dependencies for 2020.

[2020-01-28 18:07] sskcar commented on #133
We still see the issue, I don't see a clear reason/details to fix either

[2020-01-29 09:39] zabil commented on #133
Do you have a stack trace?
A null pointer error is something that can happen in your code. Gauge just reports it.

[2020-01-29 21:20] Thunderforge commented on #423
@BugDiver What about targeting `201-EAP-SNAPSHOT` (see the [snapshots repository](https://www.jetbrains.com/intellij-repository/snapshots/)). Would that work? That would add support for the EAP versions, right?

[2020-01-30 07:12] BugDiver commented on #423
@Thunderforge That should work. But I think releasing the plugin with a snapshot dependency would be good.

Can you please try to build from source with snapshot dependency?
Also please let us know if that works for you.

[2020-02-07 20:39] Thunderforge commented on #423
@BugDiver Created #426. I'm not entirely sure how to test it aside from installing the plugin locally and seeing if I can load a project for it. The big issue was that the plugin was using some deprecated stuff, so I had to replace that.

[2020-02-20 11:12] sudhindra-aithal opened #428 "MacOS - java.util.MissingFormatArgumentException: Format specifier '%s'"
Format specifier '%s'
java.util.MissingFormatArgumentException: Format specifier '%s'
	at java.base/java.util.Formatter.format(Formatter.java:2672)
	at java.base/java.util.Formatter.format(Formatter.java:2609)
	at java.base/java.lang.String.format(String.java:3274)
	at com.thoughtworks.gauge.connection.GaugeConnector.connect(GaugeConnector.java:45)
	at com.thoughtworks.gauge.connection.GaugeConnec

[2020-02-24 06:25] sudhindra-aithal commented on #428
Upgrading version in java and pom file, fixed the issue

[2020-02-24 06:25] #428 closed

[2020-02-28 05:16] #203 closed

[2020-03-23 21:33] dejj opened #429 "Unsupported Gauge Version: This version of Gauge Intellij plugin only works with Gauge version >= 0.9.0"
This seems to be a recurring issue, see:
- https://github.com/getgauge/Intellij-Plugin/issues/307
- https://github.com/getgauge/Intellij-Plugin/issues/392

I'm having the same issue on Linux Mint 19.1
Gauge version: 1.0.7,
Commit Hash: ed7b4fd6,
java (0.7.4)

on IntelliJ IDEA Ultimate 2019.3
Gauge plugin 0.3.18

Things I've tried:
- `gauge telemetry off` -> This command is deprecated, since Gauge

[2020-03-24 08:29] sriv commented on #429
Tried on 19.1 (ubuntu derivative) with Intellij IDEA 2019.3.4 (that's the latest presently) and I could create a gauge-java project, run a spec, navigate successfully.

If `gauge` is available in `PATH`, could you clear the gauge binary path in IDEA and try?

[2020-03-24 09:06] dejj commented on #429
I removed the binary path and tried to create a project. The actual popup error message is:
`Error adding module to project: This version of Gauge Intellij plugin only works with Gauge version >= 0.9.0`

I noticed that the plugin writes log messages. And here it is:
`Unable to parse </usr/local/bin/gauge --version --machine-readable> command's output.: java.lang.IllegalStateException: Expected BEG

[2020-03-24 10:35] sriv commented on #429
I added a log entry for printing the output (result of `GaugeUtil.getOutput`). Please install the plugin attached and check the logs again.
[Gauge-Java-Intellij-0.3.19.zip](https://github.com/getgauge/Intellij-Plugin/files/4374669/Gauge-Java-Intellij-0.3.19.zip)

[2020-03-24 10:49] sriv commented on #429
Note that you can install the plugin from Intellij using the local install option.

And on debugging the intellij-plugin - you'll have to do some setup (https://github.com/getgauge/Intellij-Plugin/blob/master/devguide.md). Post which, you can edit code, and launch Intellij IDEA in debug mode, allowing you to set breakpoints.

[2020-03-24 12:47] dejj commented on #429
I unpacked the archived and manually installed `intellij-plugin-0.3.19.jar`.
Event log still reads:
`Unable to parse </usr/local/bin/gauge --version --machine-readable> command's output.: java.lang.IllegalStateException: Expected BEGIN_OBJECT but was STRING at line 1 column 1 path $`

stacktrace.txt reads as below.
Folder `~/.gauge/plugins` exists and has mode 755.
[code]

I then set `GAUGE_HOME`

[2020-03-24 13:38] sriv commented on #429
`error: open ~/.gauge/plugins: no such file or directory` is the culprit for the deserialization fail. But this is one part of the issue.

Since you mentioned `/usr/local/bin/gauge --version --machine-readable` yields the expected result, without the `error`, I suspect that perhaps your Intellij IDEA is running as a different user.

Note that `~/` resolves to the home directory of the user. So if

[2020-03-24 13:41] sriv commented on #429
I just realized the last point. Tried this:

[code]

[2020-03-24 16:09] dejj commented on #429
Yes. I built the plugin myself and got the same JSON structure with an empty plugins list.

To test if the process ran as a different user, I replaced `GaugeUtil.setGaugeEnvironmentsTo(processBuilder, settings);` with `processBuilder.command("id");`

The Event Log then read:
[code]
Seems normal.

Then I noticed that something had created a folder at `~/'~'/.gauge`. I removed the folder, and set my

[2020-03-25 02:55] sriv commented on #429
What happens if you set `GAUGE_HOME` manually to a global path (ex. `/tmp/gauge_home`) ? In Intellij IDEA, you can do this using the 'Gauge' Settings. On CLI, this is an env var.

As for troubleshooting `PluginNotInstalledException`, could you please check `api.log` in your Project? Mine has entries like:

[code]

[2020-04-10 05:51] JakubSzpak opened #430 "Gauge plugin 0.2.4 don't support IntelliJ IDEA 2020.1 (Ultimate Edition) Build #IU-201.6668.121, built on April 8, 2020"
### Expected behavior
After update InteliJ Gauge API should have started and support scenerio tests.
### Actual behavior
[code]
### Steps to reproduce
1. Update InteliJ
2. Open project
3. Cannot execution plugin

### Version information

* IntelliJ version and edition(Community/Ultimate):
IntelliJ IDEA 2020.1 (Ultimate Edition)
Build #IU-201.6668.121, built on April 8, 2020
* OS information:
Runti

[2020-04-10 13:07] AliAMQ opened #431 "Gauge plugin not compatible with IntelliJ Ultimate 2020.1"
### Expected behavior
The Gauge syntax should be recognized by IntelliJ.

### Actual behavior
Gauge script is not recognized by IntelliJ and no feature to run the test.

### Steps to reproduce
1.Install the latest gauge plugin: 0.2.4 at the time of reporting the issue
2.Open a spec file in IntelliJ
3.Gauge syntax is not known to IntelliJ

### Version information

* Ultimate IntelliJ 2020.1
* OS in

[2020-04-13 10:00] sriv commented on #431
duplicate of #430

[2020-04-13 10:00] #431 closed

[2020-04-13 10:01] sriv commented on #430
#432 - potential fix

[2020-04-13 10:10] #423 closed

[2020-04-13 19:56] DrunkenCode opened #433 "InteliJ Plugin error"
### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### Steps to reproduce
1.
2.
3.

### Version information

* IntelliJ version and edition(Community/Ultimate):
* OS information:
* Gauge IntelliJ plugin version:
* Does the project uses any Build tool(Gradle/Maven)?
[code]

[2020-04-14 07:04] JakubSzpak commented on #430
Yes, fixed. Thank you.

[2020-04-14 07:04] #430 closed

[2020-04-14 07:12] #433 closed

[2020-04-14 16:55] yole opened #434 "Relicense plugin under Apache 2?"
Given that the plugin is being deprecated, JetBrains is considering taking over the maintenance of the plugin. For us, it would be far easier to take over the plugin if it was licensed under Apache 2 rather than GPLv3. The current license effectively does not allow us to keep the code in our monorepo and does not allow us to bundle the plugin into the distributions of our products. We could contin

[2020-04-14 18:32] zabil commented on #434
Thanks @yole!

This is something we can do. I will get back to you soon on this as I need to check a few things before changing the license.

[2020-04-15 11:47] zabil commented on #434
@Thunderforge @haroon-sheikh

Can both of you please indicate your approval as a comment on this issue?

[2020-04-15 13:06] haroon-sheikh commented on #434
I'm happy with this. 👍

[2020-04-15 13:12] Thunderforge commented on #434
I grant my permission to relicense my contributions under Apache 2 (as well as future versions and equivalent licenses).

[2020-04-16 01:53] #434 closed

[2020-04-16 07:39] zabil commented on #434
@yole source code is now Apache License Version 2.0. Cheers.

[2020-04-17 09:13] yole commented on #434
Thanks a lot!

[2020-04-21 08:34] zabil commented on #429
Closing this as there seems be no activity.
Please feel free to re-open if it's still happening.

[2020-04-21 08:34] #429 closed

[2020-04-21 19:28] kiaka010 opened #436 "e"
### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### Steps to reproduce
1.
2.
3.

### Version information

* IntelliJ version and edition(Community/Ultimate):
* OS information:
* Gauge IntelliJ plugin version:
* Does the project uses any Build tool(Gradle/Maven)?
[code]

[2020-04-21 19:28] #436 closed

[2020-05-08 07:20] daniele-pintus opened #437 "Exception occurred in Gauge plugin [IntelliJ Idea]"
#### gauge process exited with code 2

* OS: Windows 10
* Idea version: 2020.1.1 (community)
* API version: IC-201.7223.91
* Plugin version: 0.3.20
* Gauge version: 1.0.6 (with Windows installer)

step to reproduce: Exception occurs at startup.
Moreover, after installing the Gauge plugin, IntelliJ startup is very very slow, frozen for several minutes. then the gauge plugin is not even loaded prope

[2020-05-08 09:22] negiDharmendra commented on #437
@daniele-pintus Please create a sample project `gauge init java` and see if you are facing the same issue. If not then we will require a sample project to reproduce this issue.

**Note:** Please upgrade Gauge to the [latest](https://github.com/getgauge/gauge/releases/latest) version

[2020-05-13 19:56] janox1x2x3 opened #438 "Intellij guage plugin doesn't recognize gauge in gradle submodules"
In a gradle project with multiple submodules like this:
- root
-- config module
-- gauge module 1
-- gauge module 2

gauge manifest is not identified. This causes that step navigation and other plugin features doesn't work.
### Expected behavior
- Plugin should properly identify gauge in gradle submodule

### Actual behavior
- Plugin doesn't identify gauge in gradle submodule

### Steps to reprodu

[2020-05-13 20:21] janox1x2x3 commented on #438
I've create a PR with a fix https://github.com/getgauge/Intellij-Plugin/pull/439

[2020-05-15 08:30] #438 closed

[2020-06-03 16:32] madamore opened #440 "Plugin is not working and makes Intellij to take 10 minutes to start"
### Actual behavior
Gauge plugin is causing Intellij to take 10 minutes to start.
The plugin stopped working

When I start the IDE: "idea-IC-193.5662.53/bin/idea.sh" I get the following output in the console:
2020-06-03 13:10:21,321 [   3563]   WARN - rks.gauge.GaugeModuleComponent - Initializing Gauge connection
2020-06-03 13:11:16,336 [  58578]   WARN - rks.gauge.GaugeModuleComponent - Unable to

[2020-06-04 14:41] sriv commented on #440
hi - your `gauge-java` plugin version seems old, could you please try upgrading? `0.7.8` is out.

Also please ensure that `pom.xml` has the latest gauge version specified.

[2020-06-15 13:21] madamore commented on #440
Hi sriv,
I already discovered the root cause. It was caused by the attempt of defining an environment variable by concatenating another undefined environment variable in the gauge environment property file.
Thank you for your help!

[2020-06-15 13:21] #440 closed

[2020-06-16 10:05] zabil commented on #434
@yole circling back on this. Is there anything else you need to get started with the process?

[2020-06-27 18:01] ryudice opened #441 "Completely freeze intellij 2020.1.2"
### Expected behavior
IntelliJ should be able to open gauge projects with the plugin installed

### Actual behavior
Any gauge project freeze on open with the plugin installed. Disabling the plugin fixes the issue

### Steps to reproduce
1. Install IntelliJ 2020.1.2
2. Install Gauge plugin latest version at the time of this post 0.3.21
3. Intellij hangs

### Version information

* IntelliJ version

[2020-06-27 18:05] ryudice commented on #441
Here are the logs from the freeze:
`"AWT-EventQueue-0" prio=0 tid=0x0 nid=0x0 waiting on condition
     java.lang.Thread.State: TIMED_WAITING

	at java.base@11.0.7/java.lang.Thread.sleep(Native Method)
	at com.thoughtworks.gauge.connection.GaugeConnection.createConnection(GaugeConnection.java:82)
	at com.thoughtworks.gauge.connection.GaugeConnection.createConnection(GaugeConnection.java:91)
	at co

[2020-07-03 06:04] NivedhaSenthil commented on #437
Closing due to inactivity, feel free to reopen if you still facing issue with the latest version.

[2020-07-03 06:04] #437 closed

[2020-07-20 11:12] #356 closed

[2020-07-20 12:22] zabil commented on #177
Closing this as an old issue. However, any PR's to fix this will be merged.

[2020-07-20 12:22] #177 closed

[2020-07-22 09:50] RajatNair opened #442 "Unable to debug using IntelliJ cause of exception "unable to open debugger port : java.net.ConnectException - Connection refused: connect""
### Describe the bug

Seeing this exception with IntelliJ Ultimate edition when I try to debug a spec using Gauge's IntelliJ plugin -
![image](https://user-images.githubusercontent.com/3319907/87934806-70de6f00-caad-11ea-984c-53ea0bb551b4.png)

The only way I can debug is setting `GAUGE_DEBUG_OPTS=<port>` and then using IntelliJ's remote debugging configuration template. But it's valid only for si

[2020-07-22 10:31] donRumata83 commented on #442
@sriv This issue is quite critical for us. We want to update our gauge to 1.1.1 because of this https://github.com/getgauge/gauge/issues/1633.  But I couldn't upgrade because I can't leave all team without debugging option. Could you please provide some help from your side or give some insights about where we have to look for fixes.

[2020-07-22 10:32] Sshviq commented on #442
Hi, I've faced with the same issue like donRumata83;

-------
html-report (4.0.8)
java (0.7.4)
reportportal (1.0.1)
screenshot (0.0.1)
xml-report (0.2.1)

[2020-07-22 10:58] sriv commented on #442
hi @donRumata83 - I cannot see this issue when I try to troubleshoot with my Intellij IDEA Community version. I am able to put breakpoints in my java code, and when I debug the spec, I can see the debugger waiting at the breakpoints.

Before you start debugging, ensure that you are on [latest versoin](https://github.com/getgauge/Intellij-Plugin/releases/latest) of the plugin and can replicate the

[2020-07-22 11:00] sriv commented on #442
Please note that if we knew the problem, we would fix it (despite the fact that this is deprecated). Unfortunately, the issue isn't replicable in our projects.

If you have any hints on how we can replicate this, we may perhaps be able to be more specific in possible ways to solve this, or even fix it if it's not a lot of work!

[2020-07-22 11:32] olejkavn commented on #442
@sriv  for my case it's huge project:
gauge config runner_request_timeout 500000
gauge config runner_connection_timeout 500000

without such config my project doesn't work at all. So looks like there are some misconfiguration between IDEA plugin and gauge

[2020-07-22 12:12] sriv commented on #442
Looking at https://github.com/getgauge/gauge-java/blob/master/gauge-java.go#L33, gauge-java's debugger has a hard coded timeout for 25 seconds. This should ideally be >= `runner_connection_timeout`

I've created a pull request in gauge-java - https://github.com/getgauge/gauge-java/pull/472

This should let you set `GAUGE_DEBUG_CONNECTION_TIMEOUT` to a value other than the default 25000ms.

@olejka

[2020-07-22 12:18] olejkavn commented on #442
@sriv  with 0.7.9 I don't need, but I need refactor my project :). So I should do it step by step:
1. migrate to new version of gauge
2. do refactoring

I've already tried to build it from project, and still have red project, so it would be great if you will share it in zip)
olejkavn@gmail.com

[2020-07-22 12:46] sriv commented on #442
@olejkavn the build artifacts are here: https://github.com/getgauge/gauge-java/suites/950026995/artifacts/11840292

Note that the zip file contains buils for all OS/Arch. Please select the version that matches your OS/Arch.

You will need to do `gauge uninstall java --version 0.7.9` and then run `gauge install java -f <path_to_zip>`

[2020-07-22 12:50] donRumata83 commented on #442
@sriv I'll test it in a couple of minutes.

[2020-07-22 12:55] sriv commented on #442
thanks @donRumata83 - please try increasing the `GAUGE_DEBUG_CONNECTION_TIMEOUT` to a higher value and see if it helps.

[2020-07-22 14:03] donRumata83 commented on #442
@sriv I've set up the new parameter GAUGE_DEBUG_CONNECTION_TIMEOUT 200000

Runner Ready for Debugging
Listening for transport dt_socket at address: 57366
ERROR: transport error 203: timed out waiting for connection
JDWP exit error JVMTI_ERROR_NONE(0): could not connect, timeout or fatal error [:362]
Error ----------------------------------

[Gauge]
Panicing : runtime error: invalid memory address

[2020-07-22 14:25] sriv commented on #442
@donRumata83 this tells me that Intellij IDEA's debugger could not attach to gauge-java process.

At this point couple of things to try:

- try debugging the same project with Visual Studio Code (install gauge and java extensions). If this works, then we know there's something wrong/missing in the intellij plugin.

- try attaching the Intellij debugger manually
    - open the project in Intellij I

[2020-07-22 14:38] donRumata83 commented on #442
@sriv The second way works for me. The runner hit the breakpoint.

[2020-07-22 16:17] sriv commented on #442
Thanks @donRumata83 I'll look deeper into gauge-Java.

[2020-07-22 16:21] sriv commented on #442
Another quick check - if you are using maven/gradle can you ensure that the gauge-java dependency is updated?

[2020-07-23 06:36] donRumata83 commented on #442
@sriv You talking about dependency in pom file? Yes, the dependency is updated and after you'd released a new version of 0.7.9 I manually delete the old library from m2 and reimport a new one.

[2020-07-26 17:08] sirinath opened #443 "JetBrains take over"
As per https://github.com/getgauge/Intellij-Plugin/issues/434 has JetBrains take over as yet. If so it might be an idea to remove the deprecation notice.

Is the JetBrains maintained version maintained in another repository? What is the roadmap?

cc: @yole

[2020-07-27 08:29] donRumata83 commented on #442
Hi, @sriv, I want to try to find the bug in the plugin in my free time. Could somebody help me with way where I have to start?  How I can debug work of this plugin etc.

[2020-07-27 08:47] sriv commented on #442
hi @donRumata83 - does [my earlier] comment(https://github.com/getgauge/Intellij-Plugin/issues/442#issuecomment-662388300) help get started?

[2020-07-27 09:10] donRumata83 commented on #442
@sriv Yes, I'll start from this. Actually I've missed that comment.

[2020-07-28 22:34] cyberjaime45 opened #444 "Plugin not compatible with version 2020.2"
IntelliJ IDEA 2020.2 (Community Edition)
Build #IC-202.6397.94, built on July 27, 2020
Runtime version: 11.0.7+10-b944.20 x86_64

[2020-07-29 16:12] ccrj1105 opened #445 "gauge 0.2.4 plugin does not work on intellij 2020.2"
### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### Steps to reproduce
1.
2.
3.

### Version information

* IntelliJ version and edition(Community/Ultimate):
* OS information:
* Gauge IntelliJ plugin version:
* Does the project uses any Build tool(Gradle/Maven)?
[code]

[2020-07-29 17:34] zabil commented on #445
Duplicate of #445

[2020-07-29 17:34] #445 closed

[2020-07-29 18:06] jreznot commented on #442
I can help. Right now we are trying to solve this and maintain a plugin inside IntelliJ IDEA Community repository

[2020-07-30 14:22] zabil commented on #443
Also refer https://github.com/getgauge/Intellij-Plugin/issues/442#issuecomment-665816284

[2020-07-30 14:30] jreznot commented on #443
@zabil We are preparing sources for 2020.2 release and the only thing that we need to know: Should we release a new plugin or continue releasing it to the same plugin in the JetBrains marketplace?

The plugin sources will be available in https://github.com/JetBrains/intellij-plugins repository under Apache 2 License as decided before. It will be available for IntelliJ IDEA Community Edition as the

[2020-07-30 14:47] zabil commented on #443
If it's ok, we prefer this so that users won't have to install another plugin and can easily upgrade.

Yes, this is works, when the new repo is up we can archive this repo and refer to that.

[2020-07-30 15:56] jreznot commented on #443
@zabil Then, could you please add Yuriy Artamonov (yuriy.artamonov at jetbrains com) as a plugin author so I could setup publishing and to confirm that the team is OK with the new versions from the JetBrains repository.

[2020-07-30 16:12] sriv commented on #443
@jreznot - I just added you as a developer to https://plugins.jetbrains.com/plugin/7535-gauge

Please check and let us know if there's any other place that you'd like access to.

[2020-07-31 09:22] zabil commented on #443
There's a new release out! at https://plugins.jetbrains.com/plugin/7535-gauge

A big shout out and thanks to JetBrains @jreznot

[2020-07-31 09:22] #443 closed

[2020-07-31 09:23] zabil commented on #444
Please try version 0.4 https://plugins.jetbrains.com/plugin/7535-gauge this plugin is now maintained by JetBrains

[2020-07-31 09:23] #444 closed

[2020-07-31 12:24] jreznot commented on #443
Finally, sources has landed to https://github.com/JetBrains/intellij-plugins/tree/master/gauge
We still in progress of setting CI for 2020.2, but I've released a version compatible with it and users may update.
New versions will only be compatible with the corresponding IntelliJ IDEA release lines, so old ones will be used for 2020.1 and earlier versions.

Please do not remove this repository, may

[2020-07-31 12:33] jreznot commented on #443
And it would be great to update the deprecation warning with the link to the new repository.
Users can create issues right in https://youtrack.jetbrains.com/issues/IDEA

[2020-07-31 12:47] zabil commented on #443
I've updated the README. Will be archiving the repo now.

[2020-07-31 12:47] jreznot commented on #445
We have just released 0.4.0 compatible with IntelliJ IDEA 2020.